template(name='answer_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.icon.fluid.big.red.button.cancel_answer
                        i.remove.icon
                        
                .twelve.wide.column
                    .ui.header 
                        |#{question_title}
                    if answer_user_id 
                        .ui.big.fluid.icon.green.button.complete_answer
                            i.big.checkmark.icon
                    .ui.hidden.divider
                    if answer_title
                        .ui.inline.header
                            i.user.icon
                            |pick user
                        each unanswered_users 
                            .ui.massive.button.choose_user.f12(class=user_picker_class)
                                .f16 #{username}
                                
                    with question_doc
                        if key_value_is 'question_type' 'boolean'
                            .ui.header pick answer
                            .ui.massive.button.yes(class=yes_class)
                                |yes
                            .ui.massive.button.no(class=no_class)
                                |no
                        else if key_value_is 'question_type' 'multiple_choice'
                            .ui.header pick choice
                            each answer_choice_docs
                                a.ui.massive.button.choose_answer(class=choice_class)
                                    if image_id
                                        img.ui.inline.small.image(src="{{c.url image_id width=800 height=800 gravity='face' crop='fill'}}")
                                    .content
                                        .header
                                            |#{title}
                        else if key_value_is 'question_type' 'rating'
                            .ui.header rating
                            +pick_rating
                            if current_doc.answer_rating
                                div
                                .ui.inline.header
                                    i.user.icon
                                    |pick user
                                each unanswered_users 
                                    .ui.massive.button.choose_user.f12(class=user_picker_class)
                                        .f16 #{username}
                                if answer_user_id
                                    .ui.big.fluid.icon.green.button.complete_answer
                                        i.big.checkmark.icon
                    if in_dev
                        +print_this
                            
                            
template(name='pick_rating')
    .ui.yellow.massive.rating(data-icon=icon data-rating=value)
template(name='rating_read')
    .ui.yellow.massive.rating(data-icon=icon data-rating=amount)
