head
    title Backcountry
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#000000")
    meta(name="theme-color" content="#000000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000")
    link(href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet")

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js')
    
    // script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js")
    script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/en.js")

    // script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.js")
    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-140259454-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-GLYPPRGJFQ');

    
template(name='layout')
    // img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
    +nav
    .ui.bottom.attached.pushable.segment.scrolling
        +left_sidebar
        +right_sidebar
        +topbar
        // +cartbar
        // +walletbar
        // +secnav
        if logging_in
            .ui.center.aligned.basic.segment
                i.massive.loading.yin.yang.grey.icon
        else
            .global_conainer.pusher
                // unless connected
                //     +status
                +yield
        if in_dev
            +admin_footer
      
template(name='admin_footer')
    .ui.fluid.inverted.segment
        .ui.inline.header 
            i.shield.icon
            |admin footer
        .ui.inline.header #{docs.count} docs
        .ui.inline.header #{users.count} users
        .ui.stackable.padded.grid
            .eight.wide.column
                .ui.small.inverted.list.smallscroll
                    each docs
                        .item 
                            .content 
                                .header
                                    |#{title} 
                                |#{model} #{when} #{_author_username} 
                                .ui.label #{app}
                                +print_this
            .eight.wide.column
                .ui.small.inverted.list.smallscroll
                    each users
                        .item 
                            .content 
                                .header
                                    |#{username} 
                                +print_this
      
template(name='nav')
    #topnav.ui.fluid.attached.borderless.menu.topnav
        unless connected
            .item 
                +status
        if connected
            unless subs_ready
                .icon.item
                    +i name='pizza' cl='spinning'
                    // i.big.loading.grey.food.icon
            else 
                a.icon.item.toggle_leftbar.no_blink
                   i.bars.large.icon 
            a.header.item.zoomer.fly_left(href='/' class="{{isActiveRoute regex='home'}}")
                img.ui.avatar.image(src="https://cdn.shopify.com/s/files/1/2432/4293/files/bcplogocirclestyle-2092x2107_1024x1024.png?v=1507416868")
                span.mobile.hidden Backcountry
            // if session_is 'is_global_searching' true
            //     .ui.icon.transparent.input.global_search_input
            //         i.link.large.remove.white.icon.clear_search.zoomer(title='clear search')
            //         // if current_search
            //         // else
            //         //     i.search.icon
            //         input.global_search(type='text' value=current_search autocomplete="off")
            // else
            //     a.icon.item.init_global_search(title='search')
            //         i.search.large.icon
                
            // a.icon.item.mobile.hidden.zoomer(href='/events' class="{{isActiveRoute regex='events'}}" title='events')
            //     i.large.calendar.icon
            //     // |events
            a.icon.item.mobile.hidden.zoomer(href="/food" class="{{isActiveRoute regex='food'}}" title='food')
                // i.large.food.icon
                +i name='food' cl='ui mini image'
                // |menu
            a.icon.item.mobile.hidden.zoomer(href="/drinks" class="{{isActiveRoute regex='drinks'}}" title='drinks')
                +i name='beer' cl='ui mini image'
                // i.large.beer.icon
                // |menu
            a.icon.item.mobile.hidden.zoomer(href='/items' class="{{isActiveRoute regex='items'}}" title='inventory')
                +i name='database' cl='ui mini image'
                // i.large.database.icon
                // |items
            a.icon.item.mobile.hidden.zoomer(href='/orders' class="{{isActiveRoute regex='orders'}}" title='orders')
                +i name='money' cl='ui mini image'
                // i.large.money.icon
                // |orders
            a.icon.item.mobile.hidden.zoomer(href="/losses" class="{{isActiveRoute regex='losses'}}" title='loss')
                +i name='loss' cl='ui mini image'
                // i.large.frown.icon
                // |losses
            a.icon.item.mobile.hidden.zoomer(href="/checkins" class="{{isActiveRoute regex='checkins'}}" title='checkins')
                // i.large.checkmark.icon
                +i name='checkmark' cl='ui mini image'
                // |check ins
            a.icon.item.mobile.hidden.zoomer(href='/users' class="{{isActiveRoute regex='users'}}" title='users')
                +i name='groups' cl='ui mini image'
                // i.large.users.icon
                // |users
            a.icon.item.mobile.hidden.zoomer(href='/tasks' class="{{isActiveRoute regex='tasks'}}" title='tasks')
                +i name='tasks' cl='ui mini image'
                // i.large.tasks.icon
                // |users
            a.icon.item.mobile.hidden.zoomer(href='/shop' class="{{isActiveRoute regex='shop'}}" title='shop')
                +i name='shopping-cart' cl='ui mini image'
                // i.large.cart.icon
                // |users
            .right.menu
                // if currentUser
                //     a.item.log_out(title='sign out')
                //         i.sign.out.icon
                //         |sign out
                // else 
                //     a.item(href="/login" title='sign in')
                //         i.sign.in.icon
                //         |sign in
                //       .right.menu
                if currentUser
                    if logging_out
                        .icon.item
                            i.large.food.loading.icon
                    else
                        if in_role 'admin'
                            a.icon.item(href='/admin' title='admin')
                                i.large.shield.icon
                        a.icon.item.toggle_topbar(title='alerts')
                            i.bell.outline.large.icon
                        a.item(href="/user/#{currentUser.username}/points" class="{{isActiveRoute regex='user_points'}}")
                            // i.wallet.icon
                            strong {{int currentUser.points}}p
                        a.item.toggle_rightbar.no_blink
                            if currentUser.image_id
                                img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face'}}")
                            else
                                i.user.icon
                            strong.mobile.hidden #{currentUser.name}
                unless currentUser
                    if subs_ready
                        a.icon.item(href='/login' title='login') 
                            i.sign.in.large.icon
                    else 
                        i.food.loading.icon
         




template(name='not_found')
    .ui.center.aligned.basic.segment
        +ibig name='spill'
        .ui.header 
            // i.question.icon
            '#{current_route}'
            |not found
        .ui.big.basic.ciruclar.button.browser_back
            i.undo.icon
            |back
            
            
template(name='topbar')
    .ui.fluid.attached.segment.topbar.top.sidebar
        .ui.middle.aligned.divided.list
        .ui.list
            each recent_alerts
                +recent_alert
        a.ui.basic.button.item.close_topbar(href="/inbox")
            i.inbox.icon
            |inbox
        
// template(name='recent_alert')        
//     .item.alert
//         .right.floated.content
//             i.eye.link.icon.mark_read(title='mark read')
//         img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
//         .content
//             .header
//                 |#{description} 
//             .description #{author.name} #{when}
            
            
            
            
// template(name='cartbar')
//     .ui.right.wide.sidebar.cartbar
//         +cart
        
// template(name='walletbar')
//     .ui.right.sidebar.walletbar
//         +user_credit
        
template(name='left_sidebar')
    .ui.left.sidebar.filled
        // a.item.toggle_leftbar.no_blink(href='/' class="{{isActivePath '/'}}" title='home')
        //     img.ui.image(src="https://rosettahall.com/wp-content/uploads/2020/12/Rosetta-White-Transparent-Art-Board.png")
        // .search.item(title='search')
        //     .ui.icon.transparent.input
        //         i.search.icon
        //         input.search_global(type='text')
        a.ui.compact.basic.button.toggle_leftbar(href='/food' class="{{isActivePath '/food'}}")
            // i.large.food.icon
            // i.icon
            +i name='food' cl='ui mini centered image'
            | food
        a.ui.compact.basic.button.zoomer.toggle_leftbar(href='/drinks' class="{{isActivePath '/drinks'}}" title='drinks')
            +i name='beer' cl='ui mini centered image'
            // i.large.beer.icon
            | drinks
        a.ui.compact.basic.button.zoomer.toggle_leftbar(href='/items' class="{{isActivePath '/items'}}")
            +i name='beer-recipe' cl='ui mini centered image'
            // i.large.list.icon
            | #{items.count} inventory
        a.ui.compact.basic.button.zoomer.toggle_leftbar(href='/tasks' class="{{isActivePath '/tasks'}}")
            +i name='tasks' cl='ui mini centered image'
            // i.large.tasks.icon
            | #{tasks.count} tasks
        a.ui.compact.basic.button.zoomer.toggle_leftbar(href='/badges' class="{{isActivePath '/badges'}}")
            +i name='warranty' cl='ui mini centered image'
            // i.large.certificate.icon
            | #{badges.count} badges
        a.ui.compact.basic.button.zoomer.toggle_leftbar(href='/orders' class="{{isActivePath '/orders'}}")
            // i.large.money.icon
            +i name='order-history' cl='ui mini centered image'
            | #{orders.count} orders
        a.ui.compact.basic.button.zoomer.toggle_leftbar(href='/posts' class="{{isActivePath '/posts'}}")
            +i name='blog' cl='ui mini centered image'
            // i.large.newspaper.icon
            | #{posts.count} posts
        a.ui.compact.basic.button.zoomer.toggle_leftbar(href='/roles' class="{{isActivePath '/roles'}}")
            +i name='shield' cl='ui mini centered image'
            // i.large.shield.icon
            | #{posts.count} roles
        // a.icon.item.zoomer.toggle_leftbar(href='/locations' class="{{isActivePath '/locations'}}")
        //     i.large.marker.icon
        //     |locations
        a.ui.compact.basic.button.toggle_leftbar.zoomer(href='/users' class="{{isActivePath '/users'}}")
            // i.large.user.friends.icon
            +i name='groups' cl='ui mini centered image'
            | #{users.count} users
        a.ui.compact.basic.button.toggle_leftbar.zoomer(href='/groups' class="{{isActivePath '/groups'}}")
            +i name='campfire' cl='ui mini centered image'
            // i.large.fire.icon
            | #{users.count} groups
        a.ui.compact.basic.button.toggle_leftbar.zoomer(href='/ingredients' class="{{isActivePath '/ingredients'}}")
            // i.large.food.icon
            +i name='ingredients' cl='ui mini centered image'
            | ingredients
        // if is_in_admin
        //     a.icon.item.toggle_admin.toggle_leftbar.no_blink
        //         |toggle admin
        //         i.shield.icon
        if is_admin
            .divider
            a.ui.button.set_model.toggle_leftbar.no_blink(href="/m/model" class="{{isActivePath '/m/model'}}")
                i.large.shield.icon
                |admin
            a.ui.button.set_user.toggle_leftbar.no_blink(href="/users" class="{{isActiveRoute '/users'}}")
                i.large.users.icon
                | users
            a.ui.button.toggle_leftbar.zoomer(href='/orders' class="{{isActivePath '/orders'}}" title='orders')
                i.large.list.icon
                | orders


template(name='right_sidebar')
    // .ui.right.sidebar.vertical.menu.rightbar(style="background-color:#062639;")
    .ui.right.sidebar.rightbar.filled
        with currentUser
            a.ui.button.toggle_rightbar.no_blink(href="/user/#{username}" class="{{isActiveRoute 'user_layout'}}")
                img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{name}
                small (#{currentUser.username})
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}" class="{{isActiveRoute regex='user_dashboard'}}")
                // i.dashboard.icon
                +i name='dashboard' cl='ui mini centered image'
                .ui.inline.small.header dashboard
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/checkins" class="{{isActiveRoute regex='user_checkins'}}")
                // i.smile.icon
                +i name='satisfaction' cl='ui mini centered image'
                .ui.inline.small.header checkins
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/topups" class="{{isActiveRoute regex='user_topups'}}")
                // i.coins.icon
                +i name='coins' cl='ui mini centered image'
                .ui.inline.small.header topups
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/work" class="{{isActiveRoute regex='user_work'}}")
                // i.coins.icon
                +i name='services' cl='ui mini centered image'
                .ui.inline.small.header work
            // a.ui.basic.button.toggle_rightbar(href="/user/#{username}/points" class="{{isActiveRoute regex='user_points'}}")
            //     // i.coins.icon
            //     +i name='coins' cl='ui mini centered image'
            //     .ui.inline.small.header points
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/tasks" class="{{isActiveRoute regex='user_tasks'}}")
                // i.tasks.icon
                +i name='tasks' cl='ui mini centered image'
                .ui.inline.small.header tasks
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/chat" class="{{isActiveRoute regex='user_chat'}}")
                // i.chat.icon
                +i name='chat' cl='ui mini centered image'
                |chat
            // a.segment.toggle_rightbar(href="/user/#{username}/badges" class="{{isActiveRoute regex='user_badges'}}")
            //     i.certificate.icon
            //     |badges
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/timeclock" class="{{isActiveRoute regex='user_timeclock'}}")
                // i.clock.icon
                +i name='clock' cl='ui mini centered image'
                |timeclock
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/schedule" class="{{isActiveRoute regex='user_schedule'}}")
                // i.calendar.icon
                +i name='calendar' cl='ui mini centered image'
                |schedule
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/payroll" class="{{isActiveRoute regex='user_payroll'}}")
                +i name='money' cl='ui mini centered image'
                // i.money.icon
                |payroll
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/orders" class="{{isActiveRoute 'user_orders'}}")
                +i name='order-history' cl='ui mini centered image'
                // i.money.icon
                |orders
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/friends" class="{{isActiveRoute 'user_friends'}}")
                +i name='friends' cl='ui mini centered image'
                // i.users.icon
                |friends
            a.ui.basic.button.toggle_rightbar(href="/user/#{username}/groups" class="{{isActiveRoute 'user_groups'}}")
                +i name='campfire' cl='ui mini centered image'
                // i.fire.icon
                |groups
            a.ui.button.toggle_rightbar.no_blink(href="/user/#{username}/edit" title='edit account')
                // i.cog.icon
                +i name='settings' cl='ui mini centered image'
                |settings
            a.ui.button.logout.toggle_rightbar
                if is_logging_out
                    i.refresh.loading.icon
                else
                    +i name='exit' cl='ui mini centered image'
                    // i.sign.out.icon
                |logout
            