head
    title backcountry
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#000000")
    meta(name="theme-color" content="#000000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css')
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000")
    // link(href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet")

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js')
    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    // script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js")
    // script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/en.js")

    // script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.js")
    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-140259454-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-GLYPPRGJFQ');

    
template(name='layout')
    // img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")
    +nav
    if logging_in
        .ui.center.aligned.basic.segment
            i.massive.loading.yin.yang.grey.icon
    else
        +yield
    if in_dev
        +admin_footer
      

      
template(name='admin_footer')
    .ui.fluid.inverted.segment
        .ui.inline.header 
            i.shield.icon
            |admin footer
        .ui.inline.header #{docs.count} docs
        .ui.inline.header #{users.count} users
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.small.inverted.list.smallscroll
                    each docs
                        .item 
                            .content 
                                .header
                                    |#{title} 
                                .ui.blue.label
                                    |#{model}
                                |#{when} #{_author_username} 
                                .ui.label #{app}
                                +print_this
            .five.wide.column
                .ui.small.inverted.list.smallscroll
                    each users
                        .item 
                            .content 
                                .header
                                    |#{username} 
                                +print_this
                                a.ui.icon.button(href="/user/#{_id}/edit")
                                    i.pencil.icon
                                i.remove.link.icon.delete_user
            .five.wide.column
                .ui.inline.inverted.header #{results.count} results
                .ui.small.inverted.list.smallscroll
                    each results
                        .item 
                            .content 
                                .header
                                    |#{title} 
                                .ui.label model:#{model}
                                +print_this
      
      
      
      
template(name='nav')
    #topnav.ui.fluid.attached.four.item.menu.topnav
        unless connected
            .item 
                +status
        if connected
            unless subs_ready
                .icon.item
                    i.big.loading.grey.yin.yang.icon
            // else 
            a.header.item.zoomer.fly_left(href='/' class="{{isActiveRoute 'transfers'}}")
                i.large.exchange.icon
            a.header.item.zoomer.fly_left(href='/users' class="{{isActiveRoute 'users'}}")
                i.large.users.icon
            // .right.menu
            //     a.item.log_out(title='sign out')
            //         i.sign.out.icon
            //         |sign out
            // else 
            //     a.item(href="/login" title='sign in')
            //         i.sign.in.icon
            //         |sign in
            //       .right.menu
            a.icon.item.send_points.zoomer(title='send points' class="{{isActiveRoute 'edit'}}")
                i.large.green.plus.icon
        
            if currentUser
                if logging_out
                    .icon.item
                        i.large.yin.yang.loading.icon
                else
                    a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'profile'}}")
                        // i.wallet.icon
                        if currentUser.image_id
                            img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face'}}")
                        else
                            i.user.icon
                        strong #{currentUser.name}
                        |&nbsp;
                        strong {{int currentUser.points}}p
            unless currentUser
                if subs_ready
                    a.icon.item(href='/login' title='login') 
                        i.sign.in.large.icon
                else 
                    i.yin.yang.loading.icon
     




template(name='not_found')
    .ui.center.aligned.basic.segment
        .ui.header 
            // i.question.icon
            |'#{current_route}'
            |not found
        .ui.big.basic.ciruclar.button.browser_back
            i.undo.icon
            |back
            
                  
