template(name='drinks')
    // if drink_docs.count
    a.ui.big.inline.header(href="/drinks")
        // i.beer.icon
        +i name='beer'
        |#{drink_docs.count} drinks
    a(href="https://backcountrypizzaandtaphouse.info/pages/backcountry-pizza-and-tap-house-beer-menu" target="_window")
        i.large.external.icon
    if currentUser
        .ui.circular.icon.button.add_drink
            i.plus.icon
    +search_input model='food' field='title'
        
    +session_set key='drink_view_filter' value='gluten free' icon='no-gluten'
    +session_set key='drink_view_filter' value='sour' icon='sour'
    +session_set key='drink_view_filter' value='dark/boozy' icon='guinness-beer'
    +session_set key='drink_view_filter' value='hoppy' icon='hops'
    +session_set key='drink_view_filter' value='light/malty' icon='beer-glass'
    +session_set key='drink_view_filter' value='belgian style/brett' icon='pint'
        
    // .ui.selection.link.big.animated.list.smallscrll
    .ui.four.doubling.centered.cards
        each drink_docs
            +drink_item
                    
            
template(name='drink_item')
    a.card.fly_right(href="/drink/#{_id}") 
        img.ui.image(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
        .content
            .header #{title}
            .ui.basic.label #{section}
            each tags
                +flat_tag_picker


template(name='drink_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .five.wide.column
                    a.ui.basic.big.button.fly_left(href="/drinks")
                        // i.drinks.icon
                        +i name='beer' cl='ui avatar image'
                        |drinks
                    if can_edit
                        a.ui.icon.basic.circular.button.fly_down(href="/drink/#{_id}/edit" title='edit product')
                            i.pencil.big.icon

                    .ui.inline.header 
                        +i name='beer' cl='ui avatar image'
                        strong #{title}
                        |drink
                        a(href="https://www.google.com/search?q=#{title}" target='_blank' title='search')
                            i.grey.google.icon
                    // .ui.segment 
                    //     with post_product
                    //         a(href="/product/#{_id}")
                    //             img.ui.rounded.image(src="{{c.url image_id width=400 height=400}}")
                    //         a.ui.header(href="/product/#{_id}") #{title}
                    //         // - .ui.header #{cook_tip} cook tip
                    //         // .ui.header $#{post_total_transaction_amount} 
                    //         //     small total transaction amount
                    div
                    .ui.header #{company}
                    .ui.inline.header 
                        i.clock.icon
                        small added
                        strong #{when}
                        small by
                    +link_view key='link'
                    div
                    +voting_full
                    +comments
                .six.wide.column
                    .ui.header #{title}
                    each tags   
                        .ui.basic.big.label #{this}
                    if image_url
                        img.ui.inline.image(src=image_url)
                    img.ui.inline.image(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
                    if in_dev
                        +print_this
                .five.wide.column
                    .ui.big.fluid.green.button.buy_drink
                        |buy for $#{price_dollars}
                        i.chevron.right.icon
                    .ui.header also by #{company}
                    .ui.header #{calories} calories
                    .ui.header #{views} views
                    .ui.header orders
                    .ui.basic.circular.icon.button.add_order
                        i.plus.icon


template(name='drink_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                    a.ui.fluid.icon.green.button.fly_up(href="/drink/#{_id}/" title='save product')
                        i.checkmark.big.icon
                    // a.ui.big.circular.icon.green.button.save_this(title='save')
                    +text_edit key='title' label='title' direct=true
                    +text_edit key='company' label='company' icon='business' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    if in_dev
                        +text_edit key='model' label='model' icon='database' direct=true
                    // +image_link_edit key='image_url' label='image link' icon='image'
                    +image_edit key='image_id' label='image' icon='image'
                    +number_edit key='price_dollars' label='price ($)' icon='money'
                .five.wide.column
                    +html_edit key='body' label='body' direct=true
                    +number_edit key='calories' label='calories' icon='cheese'
                    +float_edit key='abv' label='abv' icon='beer'
                    +text_edit key='city' label='city' icon='marker'
                    +text_edit key='state' label='state' icon='marker'
                .five.wide.column
                    +text_edit key='section' label='menu section'
                    +key_value_set key='section' value='gluten free' icon='no-gluten'
                    +key_value_set key='section' value='sour' icon='sour'
                    +key_value_set key='section' value='dark/boozy' icon='guinness-beer'
                    +key_value_set key='section' value='hoppy' icon='hops'
                    +key_value_set key='section' value='light/malty' icon='beer-glass'
                    +key_value_set key='section' value='belgian style/brett' icon='pint'

                    +link_edit key='link' label='link' icon='link'
                    .ui.red.large.icon.button.delete_post(title='delete')
                        i.remove.icon   
                        // | delete
                
