template(name='events')
    .ui.stackable.grid
        .sixteen.wide.column.scrolling
            .ui.header 
                i.calendar.icon
                |events
            .ui.selection.big.animated.list.smallscroll
                each event_docs
                    a.event.zoomer.fly_left(href="/event/#{_id}")
                        img.ui.inline.rounded.small.image(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
                        .ui.inline.header #{title}
        

template(name='event_edit')
    with current_doc
        .ui.stackable.grid
            .row
                .four.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        small event
                    div
                    .ui.header #{when}
                .eight.wide.column
                    .ui.header price: #{purchase_amount}pts
                    .ui.header balance #{currentUser.points}pts
                    .ui.header balance after purchase #{balance_after_purchase}pts
                        small ({{fixed percent_difference}}% difference)
                    div
                    // +image_edit key='image_id' label='image' direct=true
                    // +array_edit key='tags' label='tags' icon='tags' direct=true
                    // +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +textarea_edit key='notes' label='notes' direct=true
                    if in_dev
                        +print_this
        
        
        
template(name='event_view')
    with current_doc
        .ui.stackable.grid
            .row
                .six.wide.column
                    a.ui.icon.button.fly_left(href="/events")
                        i.chevron.left.icon
                        |events
                    .ui.inline.header 
                        // strong '#{event_product.title}'
                        +i name='inventory' cl='ui avatar image'
                        |event
                    .ui.header #{title}
                    // .ui.segment 
                    //     with event_product
                    //         a(href="/product/#{_id}")
                    //             img.ui.rounded.image(src="{{c.url image_id width=400 height=400}}")
                    //         a.ui.header(href="/product/#{_id}") #{title}
                    //         // - .ui.header #{cook_tip} cook tip
                    //         // .ui.header $#{event_total_transaction_amount} 
                    //         //     small total transaction amount
                    div
                    .ui.inline.header 
                        i.clock.icon
                        small started
                        strong #{when}
                        small by
                        strong #{_author_username}
                    each tags
                        .ui.label #{this}
                    if is_admin
                        +print_this
                    .ui.header products used in
                    each inventory_products
                        .ui.header #{title}
                    .ui.header inventory updates
                    .ui.header current amount from calculation
                    +comments
                .ten.wide.column
                    // img.ui.image(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
                    if image_url
                        +image_link_view key='image_url' direct=true
                    else if image_id
                        +image_view key='image_id' direct=true 
                    else if youtube_id
                        +youtube_view key='image_id' direct=true
