template(name='groups')
    .ui.stackable.padded.grid
        .row
            .three.wide.column
                .ui.header 
                    +i name='campfire'
                    |#{groups.count}
                    |groups
                .ui.icon.large.button.new_group
                    i.green.plus.icon
            .twelve.wide.column
                //- with top_group
                //-     +group_card
                i.link.refresh.icon.refresh_my_time_stats
                .ui.small.compact.icon.button.toggle_complete(title='view complete' class=view_complete_class)
                    i.checkmark.icon
                //- .ui.small.compact.icon.button.toggle_incomplete(title='incomplete') 
                //-     i.circle.outline.icon
                |sort by 
                .largescroll.ui.cards
                    each group_docs 
                        +group_card
                    


template(name='group_card')
    a.ui.card(class=group_segment_class href="/group/#{_id}")
        // .ui.header.goto_group #{title}
        img.ui.image(src="{{c.url image_id width=200 height=200 gravity='face'}}")
        .content
            .ui.header #{title}
            |!{description}
            div
            .ui.horizontal.list 
                .item(title='views')
                    i.eye.icon 
                    |#{views}
                .item(title='points')
                    i.thumbs.up.outline.icon
                    |#{points}
                if group_list_id 
                    .item(title='group list')
                        i.list.icon 
                        |#{group_list.title}
                .item
                    i.grey.tags.icon 
                    each five_tags
                        .ui.small.label #{this}
            if weight 
                .ui.small.inline.header #{weight} weight
            if assigned_by
                .ui.large.label(title='assigned by')
                    |#{assigned_by}
                .ui.small.inline.header ->
            if assigned_to
                .ui.large.label(title='assigned to')
                    |#{assigned_to}
            unless complete
                if percent_complete
                    .rounded(style="height:5px;width:{{percent_complete}}%;background-color:grey" title="{{percent_complete}}% complete")
                        //- 
                        //- .ui.bottom.attached.progress(data-percent="{{percent_complete}}" title="{{percent_complete}}% complete")
                        //-     .bar
                            //- .progress
                        //- .label complete
        // .spacer



template(name='picked_group')
    // if editing_group 
    //     +text_edit key='title' direct=true
    //     +array_edit key='tags' direct=true
    //     div
    //     .ui.icon.large.button.save_group(title='save group') 
    //         i.checkmark.green.large.icon
    //     .ui.icon.small.button.delete_group(title='delete group') 
    //         i.remove.icon
    // else 
    .ui.small.header #{title}
    |o!{description}
    +array_view key='tags' direct=true
    // div
    // .ui.icon.large.button.edit_group(title='edit group') 
    if can_edit 
        a.ui.icon.large.button(href="/group/#{_id}/edit" title='edit group') 
            +i name='pencil' cl='ui avatar image'
    .ui.icon.large.button.goto_group(title='view group') 
        +i name='chevron-right'
    // div
    +voting_full



template(name='group_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    .ui.big.basic.button.goto_groups
                        // i.left.chevron.icon
                        +i name='groups' cl='ui avatar image'
                        |groups
                    .ui.header #{title}
                    if parent_dependents
                        .ui.small.header parent dependents
                        each parent_dependents
                            a.ui.button(href="/group/#{_id}")
                                i.left.chevron.icon
                                |#{title}
                    if can_edit 
                        a.ui.icon.button(href="/group/#{_id}/edit" title='edit') 
                            i.pencil.grey.icon
                    //- +multi_user_edit key='subscriber_ids' label='subscriptions' direct=true
                    div
                    +subscriptions
                    div
                    +author_info
                    +creation_info
                    div
                    .ui.grey.inline.header 
                        i.clock.small.icon
                        |time tracking
                    .ui.compact.icon.button.new_group
                        i.plus.icon
                    .ui.link.list
                        each groups 
                            a.item(href="/group/#{_id}")
                                |{{long_time start_datetime}}-{{long_time end_datetime}}
                                small by #{_author_username}
                    .ui.small.grey.header total time #{total_time}
                    div
                    +viewing
                    div
                    +voting_full
                .seven.wide.column
                    if parent_id
                        a.ui.fluid.button(href="/group/#{parent_id}")
                            i.up.chevron.icon
                            |#{parent_doc.title}
                    
                    .ui.header #{title}
                    | !{description}
                    div
                    +comments
                    .ui.grey.inline.header 
                        i.small.fork.icon
                        |sub groups 
                    i.plus.link.icon.new_subgroup
                    div
                    each subgroups 
                        .ui.segment
                            +text_edit key='title' direct=true
                            +text_edit key='assigned_to' direct=true
                            a.ui.icon.button(href="/group/#{_id}")
                                i.right.chevron.icon
                            +remove_button
                .four.wide.column
                    if child_dependents
                        .ui.small.header child dependents
                        each child_dependents
                            a.ui.fluid.small.button(href="/group/#{_id}")
                                i.right.chevron.icon
                                |#{title}
                    if group_id
                        .ui.header
                            i.list.icon 
                            |group 
                        with group 
                            |#{title}
                    div
                    .ui.inline.small.grey.header 
                        i.small.grey.sign.in.inline.icon 
                        |assigned to
                    .ui.inline.header #{assigned_to}
                    div
                    .ui.small.inline.grey.header 
                        i.small.grey.sign.out.inline.icon 
                        | assigned by
                    .ui.inline.header #{assigned_by}
                    if due_date
                        div
                        .ui.small.grey.inline.header
                            i.small.grey.calendar.inline.icon 
                            | due date
                        .ui.inline.header #{due_date}
                        div
                        .ui.small.grey.inline.header due
                        .ui.inline.header 
                            |{{from_now due_date}}
                    div
                    if due_time
                        .ui.inline.small.grey.header  due time
                        .ui.inline.header #{due_time}
                    if complete 
                        .ui.large.green.label 
                            |complete
                        .ui.icon.button.mark_incomplete(title='mark incomplete')
                            i.remove.icon
                    else 
                        .ui.large.label 
                            |incomplete
                        .ui.icon.button.mark_complete(title='mark complete')
                            i.checkmark.icon
                    .ui.grey.header 
                        i.small.inline.rss.icon
                        |activity 
                    .ui.feed
                        each log_events
                            .event
                                .content
                                    .summary
                                        |#{text}
                                    .meta
                                        |#{when} 
                                        if is_admin 
                                            +remove_icon
                    if percent_complete
                        .ui.disabled.indicating.progress(data-percent="{{percent_complete}}" title="{{percent_complete}}% complete")
                            .bar
                                .progress
                            .label complete
                        .ui.hidden.divider
                    if weight
                        .ui.disabled.indicating.progress(data-percent="{{weight}}" title="{{weight}} weight")
                            .bar
                                .progress
                            .label weight



template(name='group_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.fluid.large.button(href="/group/#{_id}") 
                        i.checkmark.icon
                        |save
                    +remove_button
                    +boolean_edit key='approval_required' label='approval required' direct=true
                    if approval_required 
                        +text_edit key='approving_username' label='approving username' direct=true
                    +boolean_edit key='bounty' label='bounty' direct=true
                    if bounty 
                        +number_edit key='bounty_amount' label='bounty amount' direct=true
                    +number_edit key='estimated_hours' label='estimated hours' direct=true
                    +number_edit key='actual_hours' label='actual hours' direct=true
                
                .eight.wide.column
                    +text_edit key='title' label='title' direct=true
                    +html_edit key='description' label='description' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                .four.wide.column
                    // +text_edit key='parent_id' label='parent id' direct=true
                    //- if group_list_id 
                    //-     with group_list
                    //-         .ui.segment
                    //-             i.grey.list.icon
                    //-             a.ui.inline.header(href="/group_list/#{_id}/view" title='view group list') #{title}
                    //-             i.small.link.grey.remove.icon.clear_group_list(title='remove from list')
                    //- +group_list_lookup key='group_list_id' label='group list' direct=true
                    //- if group_list_id 
                    //-     with group_list
                    //-         .ui.segment
                    //-             i.grey.list.icon
                    //-             a.ui.inline.header(href="/group_list/#{_id}/view" title='view group list') #{title}
                    //-             i.small.link.grey.remove.icon.clear_group_list(title='remove from list')
                    +single_user_edit key='assigned_by' label='assigned by' direct=true
                    if assigned_by
                        +text_view key='assigned_by' direct=true
                    +single_user_edit key='assigned_to' label='assigned to' icon='sign out' direct=true
                    if assigned_to
                        +text_view key='assigned_to' icon='sign in' direct=true
                    +date_edit key='due_date' label='due date' icon='calendar' direct=true
                    +boolean_edit key='complete' label='complete' icon='checkmark' direct=true
                    +number_edit key='percent_complete' label='percent complete' icon='percent' min=0 max=100 direct=true
                    +number_edit key='weight' label='weight' icon='sort up' min=0 max=100 direct=true