template(name='groups')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='campfire'
                |groups
            i.plus.circular.link.icon.add_group
            .ui.header
                |your groups
            .ui.selection.link.list
                each my_groups
                    a.item(href="/group/#{_id}")
                        |#{title}
        .twelve.wide.column
            span.sorting_row
                // +session_set key='view_top_groups' value=true label='view top level' icon='chevron' 
                // +session_set key='view_top_groups' value=false icon='chevron down'
                // +session_set key='view_users' value='list' icon='list'
                // +session_set key='sort_users_direction' value='-1' icon='chevron down'
                // +session_set key='sort_users_direction' value='1' icon='chevron up'
                // +session_set key='sort_users_key' value='points' icon='coins'
                // +session_set key='sort_users_key' value='created_date' icon='clock'
                // +session_set key='view_limit' value=1
                +search_input model='group' field='title'
                // i.large.sort.icon
                // .ui.compact.icon.button.set_sort_direction(title='toggle sort direction')
                //     if sorting_up
                //         i.sort.amount.down.icon
                //     else
                //         i.sort.amount.up.icon
                |&nbsp;
                |&nbsp;
                .spacer 
        
            span.ui.four.stackable.cards.scrolling
                each group_docs
                    +group_card
                 
                 

template(name='group_card')                    
    a.ui.card.fly_left(href="/group/#{_id}") 
        img.ui.image(src="{{c.url image_id width=400 height=400 crop='pad'}}")
        .content 
            .ui.inline.header 
                |#{title}
            if private
                i.large.lock.icon(title='private')
            each tags
                .ui.small.basic.label #{this}
            if location_tags
                i.grey.marker.icon
                each location_tags
                    .ui.small.label #{this}
            if people_tags
                i.grey.marker.icon
                each people_tags
                    .ui.small.label #{this}
            if parent_id 
                i.fork.icon
                |#{parent_group_id}


                
template(name='group_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small group
                    a.ui.large.icon.green.button(href="/group/#{_id}/" title='save product')
                        i.checkmark.big.icon
                    div
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div
                    if in_dev 
                        +print_this
                    +boolean_edit key='private' label='private' icon='lock' direct=true
                    .ui.header  
                        +i name='cubes'
                        |modules
                    +boolean_edit key='has_images' label='images' icon='image' direct=true
                    +boolean_edit key='has_products' label='products' icon='product' direct=true
                    +boolean_edit key='has_services' label='services' icon='wrench' direct=true
                    +boolean_edit key='has_posts' label='posts' icon='blog' direct=true
                    +boolean_edit key='has_tasks' label='tasks' icon='tasks' direct=true
                    +boolean_edit key='has_events' label='events' icon='calendar' direct=true
                    +boolean_edit key='has_foods' label='food' icon='food' direct=true
                    div
                .ten.wide.column
                    +html_edit key='description' label='description' direct=true
                    .ui.header 
                        i.user.icon
                        |members
                    +boolean_edit key='has_parent_group' label='has parent group' icon='fork' direct=true
                    if has_parent_group
                        unless parent_group
                            .ui.inline.header
                                i.fork.icon
                                |set parent group
                            each nonparent_groups
                                a.ui.basic.image.big.link.label.set_parent
                                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                    |#{title}
                        with parent_group
                            .ui.inline.header
                                i.fork.icon
                                |parent group
                            .ui.basic.inline.segment
                                .ui.inline.header
                                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                    |#{title}
                                i.circular.minus.link.icon.clear_parent_group
                                i.active.directory.icon
                                each child_groups
                                    .ui.label #{title}
                    .ui.header child groups
                    each child_groups
                        .ui.header #{title}
                    
                    div
                    // +html_edit key='directions' label='directions' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    div
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    div
                    +link_edit key='link' label='link' icon='globe' direct=true
                    div
                    +text_edit key='address' label='address' icon='marker' direct=true
                    +phone_edit key='phone' label='phone' icon='phone' direct=true
                    div
                    if is_admin
                        .ui.red.button.delete_group
                            i.remove.icon   
                            | delete
                
                
template(name='group_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        +topbar
        +left_sidebar
        +right_sidebar
        // +cartbar
        // +walletbar
        // +secnav
        with current_doc
            .ui.stackable.padded.grid
                .row
                    .four.wide.column
                        a.fly_right(href="/groups" title='groups')
                            i.fire.large.circular.link.icon
                        a.ui.inline.header(href="/group/#{_id}")
                            | #{title}
                            small group view
                        +image_view key='image_id' label='image' direct=true
                        div
                        if can_edit
                            a.ui.icon.basic.button(href="/group/#{_id}/edit")
                                i.cog.large.icon
                        div
                        +html_view key='description' label='description' direct=true
                        div
                        +array_view key='tags' label='tags' icon='tags' direct=true
                        div
                        +link_view key='link' label='link' icon='linkify' direct=true
                        div
                        +array_view key='location_tags' label='location tags' icon='marker' direct=true
                        if in_dev
                            +print_this
                    .twelve.wide.column
                        // a.ui.basic.button(href="/group/#{_id}/members")
                        //     +i name='groups' cl='ui avatar image'
                        //     |members
                        // a.ui.basic.button(href="/group/#{_id}/products")
                        //     +i name='shopping-cart' cl='ui avatar image'
                        //     |products
                        // // a.ui.basic.button(href="/group/#{_id}/items")
                        // //     +i name='list' cl='ui avatar image'
                        // //     |items
                        // a.ui.basic.button(href="/group/#{_id}/tasks")
                        //     +i name='tasks' cl='ui avatar image'
                        //     |tasks
                        // a.ui.basic.button(href="/group/#{_id}/posts")
                        //     +i name='blog' cl='ui avatar image'
                        //     |posts
                        // a.ui.basic.button(href="/group/#{_id}/work")
                        //     +i name='wrench' cl='ui avatar image'
                        //     |work
                        // a.ui.basic.button(href="/group/#{_id}/relations")
                        //     +i name='fork' cl='ui avatar image'
                        //     |relations
                        .scrolling
                            +yield
        if in_dev
            +admin_footer           
                        
template(name='group_products')  
    .ui.inline.header 
        +i name='shopping-cart'
        |#{group_product_docs.count} products
    i.plus.circular.link.icon.add_group_product
    .ui.large.selection.animated.list
        each group_product_docs
            a.ui.item(href="/product/#{_id}")
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{title}
            
            
template(name='group_posts')  
    .ui.inline.header 
        +i name='blog'
        |#{group_post_docs.count} posts
    i.plus.circular.link.icon.add_group_post
    .ui.selection.link.animated.large.list
        each group_post_docs
            a.ui.item(href="/post/#{_id}")
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{title}
            
            
template(name='group_tasks')  
    .ui.inline.header 
        +i name='tasks'
        |tasks
    i.plus.circular.link.icon.add_group_task
    .ui.selection.link.animated.list
        each group_task_docs
            a.ui.item(href="/task/#{_id}")
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{title}

            
template(name='group_pictures')  
    .ui.inline.header 
        +i name='image'
        |images
    i.plus.circular.link.icon.add_group_image
    .ui.selection.link.animated.list
        each group_image_docs
            a.ui.item(href="/image/#{_id}")
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{title}


template(name='group_view')     
    .ui.two.column.stackable.grid 
        if has_products
            .column
                .ui.segment
                    +group_products
        if has_posts
            .column
                .ui.segment
                    +group_posts
        .column
            .ui.segment
                +group_members
        if has_tasks
            .column
                .ui.segment
                    +group_tasks
        if has_images
            .column
                .ui.segment
                    +group_pictures
        if has_videos
            .column
                .ui.segment
                    +group_videos
    div
    if has_parent_group
        .ui.inline.header 
            i.fork.icon
            |parent group
        with parent_group
            a.ui.inline.header(href="/group/#{_id}") 
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{title}
    if sibling_groups.count
        .ui.header 
            i.exchange.icon
            |sibling groups
        each sibling_groups
            .ui.small.header 
                |#{title}
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
    if child_groups.count
        .ui.header 
            i.fork.icon
            |child groups
        .ui.stackable.three.link.cards
            each child_groups
                a.ui.card(href="/group/#{_id}")
                    img.ui.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                    .content
                        header 
                            |#{title}
    +comments
    
    
    
template(name='group_members')
    .ui.inline.header 
        +i name='groups'
        |members
    i.circular.plus.link.icon.add_group_member
    // if can_join
    unless is_member
        .ui.basic.button.join
            i.user.plus.green.icon
            |join
    if is_member
        .ui.basic.button.leave
            i.undo.red.icon
            |leave
    .ui.large.selection.link.animated.list
        each group_members
            .item 
                a.ui.header(href="/user/#{username}") 
                    img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    |#{username}

