template(name='transfers')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .four.wide.column
                    .ui.header 
                        +i name='transfer'
                        |transfers
                    unless transfer_tags.count
                        i.loading.refresh.big.icon
                    i.teal.tag.big.icon
                    each transfer_tags
                        .ui.basic.large.circular.label #{title}
                            // small #{count}
                    div
                    i.red.marker.big.icon
                    each location_tag_results
                        .ui.basic.large.circular.label #{title}
                            small #{count}

                .twelve.wide.column
                    i.eye.grey.icon
                    // +session_set key='transfer_sort_filter' value='open'               
                    +session_set key='transfer_sort_filter' value='now'               
                    +session_set key='transfer_sort_filter' value='later'   
                    +session_set key='transfer_sort_filter' value=null label='all'
                    i.sort.grey.icon
                    +session_set key='transfer_sort_key' value='price'               
                    .ui.four.stackable.cards.scrolling
                        if transfer_docs.count
                            each transfer_docs
                                +transfer_item
                        else 
                            .ui.basic.segment
                                i.massive.exchange.grey.loading.icon
            
            
template(name='transfer_item')
    a.ui.card.fly_right(href="/transfer/#{_id}")
        if image_id
            img.ui.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            a.header(href="/transfer/#{_id}") #{title}
            a.header(href="/transfer/#{_id}")
                if _author.image_id
                    img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}")
                | #{_author_username}
                strong #{amount}
                i.large.chevron.right.icon
                if target.image_id
                    img.ui.avatar.image(src="{{c.url target.image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{target_username}
            small #{when}
            |#{description}
            i.tag.icon
            each tags
                .ui.basic.large.circular.label #{this}
            i.red.marker.icon
            each location_tags
                .ui.basic.large.circular.label #{this}
            // if in_dev 
            //     +print_this

                    