template(name='transfers')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .four.wide.column
                    .ui.header 
                        +i name='transfer'
                        |transfers
                    each transfer_tags
                        .ui.basic.large.circular.label #{title}
                            small #{count}

                .twelve.wide.column
                    i.eye.grey.icon
                    // +session_set key='transfer_sort_filter' value='open'               
                    +session_set key='transfer_sort_filter' value='now'               
                    +session_set key='transfer_sort_filter' value='later'   
                    +session_set key='transfer_sort_filter' value=null label='all'
                    i.sort.grey.icon
                    +session_set key='transfer_sort_key' value='price'               
                    .ui.four.stackable.cards.scrolling
                        each transfer_docs
                            +transfer_item
            
            
template(name='transfer_item')
    a.ui.card(href="/transfer/#{_id}")
        if image_id
            img.ui.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            a.header(href="/transfer/#{_id}") #{title}
            a.header(href="/transfer/#{_id}")
                strong #{amount}pts
                if _author.image_id
                    img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}")
                | #{_author_username}
                i.large.chevron.right.icon
                if target.image_id
                    img.ui.avatar.image(src="{{c.url target.image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{target_username}
            small #{when}
            |#{description}
            each tags
                .ui.basic.large.circular.label #{this}
            if in_dev 
                +print_this

                    