template(name='home')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .four.wide.column.scrolling
                    .ui.header 
                        +i name='transfer-between-users'
                        |transfers
                    // unless tag_results.count
                    //     i.loading.yin.yang.big.grey.icon
                    // else
                    +i name='tags' cl='ui inline image'
                    each picked_tags
                        .ui.blue.button.unpick_tag.zoomer
                            |#{this}
                    each tag_results
                        a.ui.basic.link.large.label.pick_tag #{title}
                            // small #{count}
                    div
                    +i name='marker' cl='ui inline image'
                    each picked_location_tags
                        a.ui.red.button.unpick_location_tag
                            |#{this}
                    each location_tag_results
                        a.ui.basic.link.large.label.zoomer.pick_location_tag #{title}
                            // small #{count}
                    div
                    +i name='send' cl='ui inline image'
                    each picked_authors
                        a.ui.teal.button.unpick_author_tag
                            |#{this}
                    each author_results
                        a.ui.basic.link.large.label.zoomer.pick_author_tag #{title}
                            // small #{count}
                    div
                    +i name='donate' cl='ui inline image'
                    each picked_targets
                        a.ui.teal.button.unpick_target_tag
                            |#{this}
                    each target_results
                        a.ui.basic.link.large.label.zoomer.pick_target_tag #{title}
                            // small #{count}
                .twelve.wide.column
                    i.eye.grey.icon
                    // +session_set key='transfer_sort_filter' value='open'               
                    +session_set key='transfer_filter' value='now' icon='clock'            
                    +session_set key='transfer_filter' value='day' icon='sun'
                    +session_set key='transfer_filter' value=null label='all'
                    i.sort.grey.icon
                    +session_set key='transfer_sort_key' value='price'               
                    .ui.four.stackable.cards.scrolling
                        if transfer_docs.count
                            each transfer_docs
                                +transfer_item
                        else 
                            .ui.basic.segment
                                i.massive.yin.yang.grey.loading.icon
            
            
template(name='transfer_item')
    a.ui.link.card.fly_right(href="/transfer/#{_id}")
        if image_id
            img.ui.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
            // a.header(href="/transfer/#{_id}") #{title}
        .content
            .ui.inline.header
                if _author.image_id
                    img.ui.avatar.image(src="{{c.url _author.image_id height=400 width=400 gravity='face' crop='fill'}}")
                | #{_author_username}
                .ui.big.basic.label #{amount}p
                // .ui.big.basic.image.label
                if target.image_id
                    img.ui.avatar.image(src="{{c.url target.image_id height=400 width=400 gravity='face' crop='fill'}}")
                |#{target_username}
        .content
            small #{when}
            |#{description}
            i.tag.icon
            each tags
                .ui.basic.large.label #{this}
            if location_tags
                i.red.marker.icon
                each location_tags
                    .ui.basic.large.label #{this}
                // if in_dev 
                //     +print_this
        .ui.attached.basic.buttons
        .ui.attached.basic.buttons
            .ui.icon.button
                i.chat.outline.icon
            .ui.icon.button
                i.eye.icon
            .ui.icon.button
                i.thumbs.up.outline.icon
            .ui.icon.button
                i.thumbs.down.outline.icon
                    