template(name='transfers')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .four.wide.column
                    .ui.header 
                        +i name='transfer'
                        |transfers
                    |view
                    // +session_set key='transfer_sort_filter' value='open'               
                    +session_set key='transfer_sort_filter' value='now'               
                    +session_set key='transfer_sort_filter' value='later'   
                    +session_set key='transfer_sort_filter' value=null label='all'
                    div
                    |sort by
                    +session_set key='transfer_sort_key' value='price'               
                .twelve.wide.column.scrolling
                    each transfer_docs
                        +transfer_item
            
            
template(name='transfer_item')
    a.ui.card(href="/transfer/#{_id}")
        .content
            a.header(href="/transfer/#{_id}") #{title}
            a.header(href="/transfer/#{_id}")
                strong #{amount}pts
                |from #{_author_username}
                | to 
                if target.image_id
                    img.ui.avatar.image(src="{{c.url target.image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{target_username}
            small #{when}
            |#{description}
            each tags
                .ui.basic.label #{this}
            if in_dev 
                +print_this

                    

template(name='user_transfers')
    .ui.inline.header #{transfers.count} 
        +i name='invoice'
        |transfers
    .scrolling
        each transfers
            +user_transfer_item

template(name='user_transfer_item')
    .ui.segment
        // each transfer_items
        img.ui.avatar.image(src="{{c.url product_doc.image_id width=200 height=200 gravity='face' crop='fill'}}")
        a.ui.inline.header(href="/transfer/#{_id}")
            | #{product_doc.title}
            // |#{subtitle}c
        .ui.inline.header
            |status: 
            if is status 'pending'
                i.large.yellow.clock.icon
            else if is status 'ready'
                i.large.green.clock.icon
            else if is status 'complete'
                i.large.green.checkmark.icon
            |#{status}
            if product_doc.has_calories
                .ui.label 
                    |#{product_doc.calories}cals
            // .ui.inline.header product_id: #{product_id}
            
        a.ui.icon.big.button(href="/transfer/#{_id}")
            i.right.chevron.large.icon
        |#{status}
        i.clock.icon
        |#{when}
        if in_dev 
            +print_this
            +remove_button

