template(name='ingredients')
    .ui.stackable.padded.grid
        .row
            .three.wide.column
                .ui.header 
                    i.ingredients.icon
                    |#{ingredients.count}
                    |ingredients
                .ui.icon.large.button.new_ingredient
                    i.green.plus.icon
                +ingredient_cloud
                i.remove.circular.link.icon.clear_filter(title='clear filters')
                with currentUser
                    .ui.button.your_incomplete
                        i.large.circle.outline.icon
                        |your incomplete ingredients
                    .ui.basic.label(title='hours today')
                        i.sun.icon
                        i.clock.icon
                        | #{daily_hours}hrs
                    .ui.basic.label(title='weekly hours')
                        i.calendar.icon
                        i.clock.icon
                        | #{weekly_hours}hrs
                    .ui.basic.label(title='sessions today')
                        i.sun.icon
                        i.business.time.icon
                        | #{daily_sessions} sessions
                    .ui.basic.label(title='weekly sessions')
                        i.calendar.icon
                        i.business.time.icon
                        | #{weekly_sessions} sessions
            .six.wide.column
                //- with top_ingredient
                //-     +ingredient_card_template
                i.link.refresh.icon.refresh_my_time_stats
                .ui.small.compact.icon.button.toggle_complete(title='view complete' class=view_complete_class)
                    i.checkmark.icon
                //- .ui.small.compact.icon.button.toggle_incomplete(title='incomplete') 
                //-     i.circle.outline.icon
                |sort by 
                .ui.small.compact.button lucrative
                .ui.small.compact.button soonest
                .ui.small.compact.button priority
            
                .largescroll.ui.segments
                    each ingredients 
                        +ingredient_card_template
            .six.wide.column
                if picked_ingredient_doc
                    .ui.icon.right.floated.button.unselect_ingredient
                        i.remove.icon
                    with picked_ingredient_doc
                        +picked_ingredient
                else 
                    // .ui.icon.basic.button.new_ingredient 
                    //     i.plus.icon
                    //     // |new ingredient 
                    i.refresh.link.icon.refresh_ingredients_stats
                    with ingredients_stats_doc
                        .ui.small.grey.header #{total_ingredients} total ingredients 
                        .ui.small.grey.header #{week_ingredients_count} ingredients this week
                        .ui.small.grey.header #{day_ingredients_count} ingredients today
                    
template(name='ingredient_cloud')
    //- #ingredient_cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    i.grey.tags.icon
    if picked_tags
        #clear_tags.ui.active.icon.compact.button
            i.remove.icon
        each picked_tags
            .unselect_tag.ui.active.compact.button
                strong #{this}
    each all_tags
        .ui.compact.small.button.select_tag(class=ingredient_cloud_tag_class) 
            strong #{this.name}


template(name='ingredient_card_template')
    .ui.segment.pointer.select_ingredient(class=ingredient_segment_class)
        // .ui.header.goto_ingredient #{title}
        .ui.header #{title}
        |!{description}
        div
        .ui.horizontal.list 
            .item(title='views')
                i.eye.icon 
                |#{views}
            .item(title='points')
                i.thumbs.up.outline.icon
                |#{points}
            if ingredient_list_id 
                .item(title='ingredient list')
                    i.list.icon 
                    |#{ingredient_list.title}
            .item
                i.grey.tags.icon 
                each five_tags
                    .ui.small.label #{this}
        if weight 
            .ui.small.inline.header #{weight} weight
        if assigned_by
            .ui.large.label(title='assigned by')
                |#{assigned_by}
            .ui.small.inline.header ->
        if assigned_to
            .ui.large.label(title='assigned to')
                |#{assigned_to}
        unless complete
            if percent_complete
                .rounded(style="height:5px;width:{{percent_complete}}%;background-color:grey" title="{{percent_complete}}% complete")
                    //- 
                    //- .ui.bottom.attached.progress(data-percent="{{percent_complete}}" title="{{percent_complete}}% complete")
                    //-     .bar
                        //- .progress
                    //- .label complete
    // .spacer



template(name='picked_ingredient')
    // if editing_ingredient 
    //     +text_edit key='title' direct=true
    //     +array_edit key='tags' direct=true
    //     div
    //     .ui.icon.large.button.save_ingredient(title='save ingredient') 
    //         i.checkmark.green.large.icon
    //     .ui.icon.small.button.delete_ingredient(title='delete ingredient') 
    //         i.remove.icon
    // else 
    .ui.small.header #{title}
    |o!{description}
    +array_view key='tags' direct=true
    // div
    // .ui.icon.large.button.edit_ingredient(title='edit ingredient') 
    if can_edit 
        a.ui.icon.large.button(href="/ingredient/#{_id}/edit" title='edit ingredient') 
            +i name='pencil' cl='ui avatar image'
    .ui.icon.large.button.goto_ingredient(title='view ingredient') 
        +i name='chevron-right'
    // div
    +voting_full


template(name='subscriptions')
    .ui.inline.grey.header 
        // i.newspaper.small.icon
        +i name='newspaper'
        |subscriptions
    if subscribed 
        .ui.icon.button.unsubscribe(title='unsubscribe')
            i.bell.slash.outline.icon
    else 
        .ui.icon.button.subscribe(title='subscribe')
            i.bell.outline.icon
    .ui.list
        each subscribers
            .item #{username}



template(name='ingredient_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    .ui.big.basic.button.goto_ingredients
                        // i.left.chevron.icon
                        +i name='ingredients' cl='ui avatar image'
                        |ingredients
                    .ui.header #{title}
                    if parent_dependents
                        .ui.small.header parent dependents
                        each parent_dependents
                            a.ui.button(href="/ingredient/#{_id}")
                                i.left.chevron.icon
                                |#{title}
                    if can_edit 
                        a.ui.icon.button(href="/ingredient/#{_id}/edit" title='edit') 
                            i.pencil.grey.icon
                    //- +multi_user_edit key='subscriber_ids' label='subscriptions' direct=true
                    div
                    +subscriptions
                    div
                    +author_info
                    +creation_info
                    div
                    .ui.grey.inline.header 
                        i.clock.small.icon
                        |time tracking
                    .ui.compact.icon.button.new_ingredient
                        i.plus.icon
                    .ui.link.list
                        each ingredients 
                            a.item(href="/ingredient/#{_id}")
                                |{{long_time start_datetime}}-{{long_time end_datetime}}
                                small by #{_author_username}
                    .ui.small.grey.header total time #{total_time}
                    div
                    +viewing
                    div
                    +voting_full
                .seven.wide.column
                    if parent_id
                        a.ui.fluid.button(href="/ingredient/#{parent_id}")
                            i.up.chevron.icon
                            |#{parent_doc.title}
                    
                    .ui.header #{title}
                    | !{description}
                    div
                    +comments
                    .ui.grey.inline.header 
                        i.small.fork.icon
                        |sub ingredients 
                    i.plus.link.icon.new_subingredient
                    div
                    each subingredients 
                        .ui.segment
                            +text_edit key='title' direct=true
                            +text_edit key='assigned_to' direct=true
                            a.ui.icon.button(href="/ingredient/#{_id}")
                                i.right.chevron.icon
                            +remove_button
                .four.wide.column
                    if child_dependents
                        .ui.small.header child dependents
                        each child_dependents
                            a.ui.fluid.small.button(href="/ingredient/#{_id}")
                                i.right.chevron.icon
                                |#{title}
                    if group_id
                        .ui.header
                            i.list.icon 
                            |group 
                        with group 
                            |#{title}
                    div
                    .ui.inline.small.grey.header 
                        i.small.grey.sign.in.inline.icon 
                        |assigned to
                    .ui.inline.header #{assigned_to}
                    div
                    .ui.small.inline.grey.header 
                        i.small.grey.sign.out.inline.icon 
                        | assigned by
                    .ui.inline.header #{assigned_by}
                    if due_date
                        div
                        .ui.small.grey.inline.header
                            i.small.grey.calendar.inline.icon 
                            | due date
                        .ui.inline.header #{due_date}
                        div
                        .ui.small.grey.inline.header due
                        .ui.inline.header 
                            |{{from_now due_date}}
                    div
                    if due_time
                        .ui.inline.small.grey.header  due time
                        .ui.inline.header #{due_time}
                    if complete 
                        .ui.large.green.label 
                            |complete
                        .ui.icon.button.mark_incomplete(title='mark incomplete')
                            i.remove.icon
                    else 
                        .ui.large.label 
                            |incomplete
                        .ui.icon.button.mark_complete(title='mark complete')
                            i.checkmark.icon
                    .ui.grey.header 
                        i.small.inline.rss.icon
                        |activity 
                    .ui.feed
                        each log_events
                            .event
                                .content
                                    .summary
                                        |#{text}
                                    .meta
                                        |#{when} 
                                        if is_admin 
                                            +remove_icon
                    if percent_complete
                        .ui.disabled.indicating.progress(data-percent="{{percent_complete}}" title="{{percent_complete}}% complete")
                            .bar
                                .progress
                            .label complete
                        .ui.hidden.divider
                    if weight
                        .ui.disabled.indicating.progress(data-percent="{{weight}}" title="{{weight}} weight")
                            .bar
                                .progress
                            .label weight



template(name='ingredient_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.fluid.large.button(href="/ingredient/#{_id}") 
                        i.checkmark.icon
                        |save
                    +remove_button
                    +boolean_edit key='approval_required' label='approval required' direct=true
                    if approval_required 
                        +text_edit key='approving_username' label='approving username' direct=true
                    +boolean_edit key='bounty' label='bounty' direct=true
                    if bounty 
                        +number_edit key='bounty_amount' label='bounty amount' direct=true
                    +number_edit key='estimated_hours' label='estimated hours' direct=true
                    +number_edit key='actual_hours' label='actual hours' direct=true
                
                .eight.wide.column
                    +text_edit key='title' label='title' direct=true
                    +html_edit key='description' label='description' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                .four.wide.column
                    // +text_edit key='parent_id' label='parent id' direct=true
                    //- if ingredient_list_id 
                    //-     with ingredient_list
                    //-         .ui.segment
                    //-             i.grey.list.icon
                    //-             a.ui.inline.header(href="/ingredient_list/#{_id}/view" title='view ingredient list') #{title}
                    //-             i.small.link.grey.remove.icon.clear_ingredient_list(title='remove from list')
                    //- +ingredient_list_lookup key='ingredient_list_id' label='ingredient list' direct=true
                    //- if ingredient_list_id 
                    //-     with ingredient_list
                    //-         .ui.segment
                    //-             i.grey.list.icon
                    //-             a.ui.inline.header(href="/ingredient_list/#{_id}/view" title='view ingredient list') #{title}
                    //-             i.small.link.grey.remove.icon.clear_ingredient_list(title='remove from list')
                    +single_user_edit key='assigned_by' label='assigned by' direct=true
                    if assigned_by
                        +text_view key='assigned_by' direct=true
                    +single_user_edit key='assigned_to' label='assigned to' icon='sign out' direct=true
                    if assigned_to
                        +text_view key='assigned_to' icon='sign in' direct=true
                    +date_edit key='due_date' label='due date' icon='calendar' direct=true
                    +boolean_edit key='complete' label='complete' icon='checkmark' direct=true
                    +number_edit key='percent_complete' label='percent complete' icon='percent' min=0 max=100 direct=true
                    +number_edit key='weight' label='weight' icon='sort up' min=0 max=100 direct=true
