template(name='losses')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .four.wide.column
                    .ui.header 
                        |losses
                        i.certificate.icon
                    .ui.fluid.icon.button.add_loss
                        i.large.plus.icon
                    |view
                    // +session_set key='loss_sort_filter' value='open'               
                    +session_set key='loss_sort_filter' value='now'               
                    +session_set key='loss_sort_filter' value='later'   
                    +session_set key='loss_sort_filter' value=null label='all'
                    |delivery
                    +session_set key='loss_delivery_filter' value='pickup'   
                    +session_set key='loss_delivery_filter' value='delivery'   
                    +session_set key='loss_delivery_filter' value=null label='all'   
                    +session_set key='loss_status_filter' value='cart' label='cart' icon='cart'   
                    +session_set key='loss_status_filter' value=null label='all status' icon='cart'   
                .twelve.wide.column
                    .ui.cards
                        each losses 
                            a.card(href="/loss/#{_id}")
                                .content 
                                    .header #{title}

template(name='user_losses')
    .ui.header user losses
template(name='loss_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        small loss
                    div
                    .ui.header #{when}
                .eight.wide.column
                    .ui.header product
                    if picked_ref
                        with picked_ref
                            .ui.header #{title}
                            .ui.button.clear_product
                                i.remove.icon
                    else 
                        .ui.header pick product
                        each unpicked_refs
                            .ui.big.button.pick_product #{title}
                            
                            
                    +image_edit key='image_id' label='image' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    // +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +textarea_edit key='notes' label='notes' direct=true
                    if in_dev
                        +print_this
                    a.ui.large.fluid.icon.green.button.fly_up(href="/loss/#{_id}")
                        i.large.checkmark.icon
        
        
template(name='loss_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    a.ui.icon.button.fly_left(href="/losses")
                        i.chevron.left.icon
                        |losses
                    .ui.inline.header 
                        // strong '#{loss_product.title}'
                        +i name='loss' cl='ui avatar image'
                        |loss
                    // .ui.segment 
                    //     with loss_product
                    //         a(href="/product/#{_id}")
                    //             img.ui.rounded.image(src="{{c.url image_id width=400 height=400}}")
                    //         a.ui.header(href="/product/#{_id}") #{title}
                    //         // - .ui.header #{cook_tip} cook tip
                    //         // .ui.header $#{loss_total_transaction_amount} 
                    //         //     small total transaction amount
                    div
                    .ui.inline.header 
                        i.clock.icon
                        small started
                        strong #{when}
                        small by
                        strong #{_author_username}
                    if can_edit 
                        a.ui.button(href="/loss/#{_id}/edit")
                            i.large.pencil.icon
                .ten.wide.column
                    // img.ui.image(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
                    if image_url
                        +image_link_view key='image_url' direct=true
                    else if image_id
                        +image_view key='image_id' direct=true 
                    else if youtube_id
                        +youtube_view key='image_id' direct=true

                    .ui.header #{title}
                    each tags
                        .ui.label #{this}
                    if is_admin
                        +print_this
                    .ui.header 
                        |lossrs
                    each lossrs
                        a.ui.big.button.fly_left(href="/user/#{username}") #{username}
        