template(name='mail')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.large.center.aligned.header 
                    i.envelope.outline.icon
                    |mail
                .ui.fluid.button.compose
                    i.plus.icon
                    |compose
                .ui.large.fluid.vertical.pointing.menu
                    +mail_view_menu_item icon='inbox' label='inbox' slug='inbox'
                    +mail_view_menu_item icon='save' label='drafts' slug='draft'
                    +mail_view_menu_item icon='send' label='sent' slug='sent'
                    +mail_view_menu_item icon='archive' label='archived' slug='archived'
                    +mail_view_menu_item icon='clone' label='all' slug='all'
                    +mail_view_menu_item icon='trash' label='trash' slug='trash'
            .twelve.wide.column
                .ui.header #{mail_view_mode_label}
                each current_view_messages
                    .ui.segment
                        .ui.header #{target_username} 
                        .ui.large.basic.label #{status}
                        |#{when} #{body}
                        a.ui.icon.button(href="/message/#{_id}") 
                            i.chevron.right.icon
                        +remove_button


template(name='mail_view_menu_item')
    a.item.set_view(class=menu_item_class)
        |#{label}
        i.grey.icon(class=icon)
        .ui.small.basic.label #{view_count}


template(name='message_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row
                .ten.wide.column 
                    .ui.inline.header 
                        i.pencil.icon
                        | edit message
                    +remove_button
                    +single_user_edit key='target_id' label='recipient' direct=true
                    +html_edit key='body' label='body' icon='content' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    a.ui.fluid.yellow.button.save_draft(href="/message/#{_id}/view" title='save')
                        i.save.icon
                        |save draft
                    a.ui.fluid.green.button.send(href="/message/#{_id}/view" title='save')
                        i.checkmark.large.icon
                        |send
                
                if in_dev 
                    +print_this




template(name='message_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .eight.wide.column
                    a.ui.basic.button(href="/mail")
                        i.chevron.left.icon
                        +i name='envelope' cl='ui inline image'
                        |mail
                    .ui.header message view 
                    +image_view key='image_id' label='image' direct=true
                    a.ui.blue.button(href="/message/#{_id}/edit")
                        i.pencil.icon
                        |edit
                .eight.wide.column
                    .ui.header #{title}
                    +icon_view key='icon' direct=true
                    +html_view key='body' label='body' direct=true
                    +comments
                    