template(name='nav')
    #topnav.ui.fluid.attached.borderless.menu.topnav
        unless connected
            .item 
                +status
        if connected
            unless subs_ready
                .icon.item
                    i.big.loading.grey.yin.yang.icon
            // else 
            a.header.item.zoomer.fly_left(href='/' class="{{isActiveRoute ''}}" title='home')
                // i.large.users.icon
                +i name='yin-yang' cl='zoomer'
            a.header.item.zoomer.fly_left(href='/posts' class="{{isActiveRoute 'posts'}}" title='posts')
                // i.large.users.icon
                +i name='blog' cl='zoomer'
            a.header.item.zoomer.fly_left(href='/deliveries' class="{{isActiveRoute 'deliveries'}}" title='posts')
                // i.large.users.icon
                +i name='truck' cl='zoomer'
            a.header.item.zoomer.fly_left(href='/transfers' class="{{isActiveRoute 'home'}}" title='transfers')
                // i.large.exchange.icon
                +i name='transfer-between-users' cl='zoomer'
            a.header.item.zoomer.fly_left(href='/users' class="{{isActiveRoute 'users'}}")
                // i.large.users.icon
                +i name='groups' cl='zoomer'
            a.header.item.zoomer.fly_left(href='/shop' class="{{isActiveRoute 'shop'}}")
                // i.large.users.icon
                +i name='shop' cl='zoomer'
            a.header.item.zoomer.fly_left(href='/food' class="{{isActiveRoute 'food'}}")
                // i.large.users.icon
                +i name='food' cl='zoomer'
            a.header.item.zoomer.fly_left(href='/drinks' class="{{isActiveRoute 'drinks'}}")
                // i.large.users.icon
                +i name='beer' cl='zoomer'
            // .right.menu
            //     a.item.log_out(title='sign out')
            //         i.sign.out.icon
            //         |sign out
            // else 
            //     a.item(href="/login" title='sign in')
            //         i.sign.in.icon
            //         |sign in
            //       .right.menu
            // a.icon.item.send_points.zoomer(title='send points' class="{{isActiveRoute 'edit'}}")
            //     +i name='plus' cl='zoomer'
            //     // i.large.green.plus.icon
        .right.menu
            if currentUser
                a.header.item.zoomer.fly_left(href='/mail' class="{{isActiveRoute 'mail'}}")
                    i.large.mail.icon

                if logging_out
                    .icon.item
                        i.large.yin.yang.loading.icon
                else
                    a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'profile'}}")
                        // i.wallet.icon
                        if currentUser.image_id
                            img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face'}}")
                        else
                            i.user.icon
                        strong #{currentUser.name}
                        |&nbsp;
                        strong {{int currentUser.points}}p
            unless currentUser
                if subs_ready
                    a.icon.item(href='/login' title='login') 
                        i.sign.in.large.icon
                else 
                    i.yin.yang.loading.icon
     


template(name='topbar')
    .ui.fluid.attached.segment.topbar.top.sidebar
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.basic.button.item.close_topbar(href="/user/#{currentUser.username}/inbox")
            i.inbox.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.eye.link.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{when}
            
            
            
            
// template(name='cartbar')
//     .ui.right.wide.sidebar.cartbar
//         +cart
        
template(name='walletbar')
    .ui.right.sidebar.walletbar
        +user_points
        
template(name='left_sidebar')
    .ui.left.sidebar.filled
        // a.item.toggle_leftbar.no_blink(href='/' class="{{isActivePath '/'}}" title='home')
        //     img.ui.image(src="https://rosettahall.com/wp-content/uploads/2020/12/Rosetta-White-Transparent-Art-Board.png")
        // .search.item(title='search')
        //     .ui.icon.transparent.input
        //         i.search.icon
        //         input.search_global(type='text')
        +leftbar_nav_item label='food' icon='food' route='food'
        +leftbar_nav_item label='beer' icon='beer' route='drinks'
        +leftbar_nav_item label='inventory' icon='grocery-shelf' route='items'
        +leftbar_nav_item label='tasks' icon='tasks' route='tasks'
        +leftbar_nav_item label='reviews' icon='feedback' route='reviews'
        +leftbar_nav_item label='badges' icon='warranty' route='badges'
        +leftbar_nav_item label='orders' icon='order-history' route='orders'
        +leftbar_nav_item label='posts' icon='blog' route='posts'
        +leftbar_nav_item label='roles' icon='shield' route='roles'
        +leftbar_nav_item label='users' icon='groups' route='users'
        +leftbar_nav_item label='groups' icon='campfire' route='groups'
        +leftbar_nav_item label='images' icon='image' route='images'
        +leftbar_nav_item label='deliveries' icon='delivery' route='deliveries'
        +leftbar_nav_item label='ingredients' icon='ingredients' route='ingredients'
        +leftbar_nav_item label='recipes' icon='beer-recipe' route='recipes'
        +leftbar_nav_item label='questions' icon='question' route='questions'
        if is_admin
            .divider
            a.ui.button.set_model.toggle_leftbar.no_blink(href="/m/model" class="{{isActivePath '/m/model'}}")
                i.large.shield.icon
                |admin
            a.ui.button.set_user.toggle_leftbar.no_blink(href="/users" class="{{isActiveRoute '/users'}}")
                i.large.users.icon
                | users
            a.ui.button.toggle_leftbar.zoomer(href='/orders' class="{{isActivePath '/orders'}}" title='orders')
                i.large.list.icon
                | orders

template(name='leftbar_nav_item')
    a.ui.basic.compact.button.toggle_leftbar(href="/#{route}" class="{{isActiveRoute regex=route}}")
        +i name=icon cl='ui avatar image'
        | #{label}



template(name='right_sidebar')
    // .ui.right.sidebar.vertical.menu.rightbar(style="background-color:#062639;")
    .ui.right.wide.sidebar.rightbar.filled
        with currentUser
            a.ui.basic.compact.button.toggle_rightbar.no_blink(href="/user/#{username}" class="{{isActiveRoute 'user_layout'}}")
                img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{name}
                small (#{currentUser.username})
            a.ui.basic.compact.button.toggle_rightbar(href="/user/#{username}" class="{{isActiveRoute regex='user_dashboard'}}")
                +i name='dashboard' cl='ui avatar image'
                | dashboard
            +rightbar_nav_item label='checkins' icon='satisfaction' route='checkins'
            +rightbar_nav_item label='posts' icon='blog' route='posts'
            +rightbar_nav_item label='topups' icon='donation' route='topups'
            +rightbar_nav_item label='work' icon='services' route='work'
            +rightbar_nav_item label='tasks' icon='tasks' route='tasks'
            +rightbar_nav_item label='chat' icon='chat' route='chat'
            +rightbar_nav_item label='badges' icon='prize' route='badges'
            +rightbar_nav_item label='timeclock' icon='clock' route='timeclock'
            +rightbar_nav_item label='schedule' icon='calendar' route='schedule'
            +rightbar_nav_item label='payroll' icon='money' route='payroll'
            +rightbar_nav_item label='orders' icon='order-history' route='orders'
            +rightbar_nav_item label='points' icon='coins' route='points'
            +rightbar_nav_item label='groups' icon='campfire' route='groups'
            +rightbar_nav_item label='checkins' icon='checked-2' route='checkins'
            +rightbar_nav_item label='sent' icon='sent' route='sent'
            +rightbar_nav_item label='topups' icon='donation' route='topups'
            a.ui.basic.compact.button.toggle_rightbar(href="/user/#{username}/friends" class="{{isActiveRoute 'user_friends'}}")
                +i name='groups' cl='ui avatar image'
                |friends
            a.ui.basic.compact.button.toggle_rightbar(href="/user/#{username}/rewards" class="{{isActiveRoute 'user_rewards'}}")
                +i name='prize' cl='ui avatar image'
                |rewards
            a.ui.basic.compact.button.toggle_rightbar(href="/user/#{username}/orders" class="{{isActiveRoute 'user_orders'}}")
                +i name='money' cl='ui avatar image'
                |orders
            a.ui.basic.compact.button(href="/user/#{username}/stats" class="{{isActiveRoute 'user_stats'}}")
                +i name='line-chart' cl='ui avatar image'
                |stats
                
            a.ui.button.toggle_rightbar.no_blink(href="/user/#{username}/edit" title='edit account')
                +i name='settings' cl='ui avatar image'
                |settings
            a.ui.button.logout.toggle_rightbar
                if is_logging_out
                    i.refresh.loading.icon
                else
                    +i name='exit' cl='ui avatar image'
                    // i.sign.out.icon
                |logout
            
            
template(name='rightbar_nav_item')
    a.ui.basic.compact.button.toggle_rightbar(href="/user/#{currentUser.username}/#{route}" class="{{isActiveRoute regex='user_checkins'}}")
        +i name=icon cl='ui avatar image'
        | #{label}
