template(name='order_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    .ui.large.fluid.basic.button.cancel_transfer
                        i.large.remove.red.icon
                        |cancel
                    .ui.segment
                        .ui.inline.header
                            .ui.header author
                            img.ui.small.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.name}
                .eight.wide.column
                    +textarea_edit key='notes' label='notes' direct=true
                    
                    div
                    if in_dev
                        +print_this
                    
                    // div
                    // .ui.inline.header
                    //     i.tag.red.icon
                    //     |tags
                    // .ui.input
                    //     input.new_tag(type='text' placeholder='+' autocomplete="off")
                    //     //- +clear_value                
                    // each terms 
                    //     a.ui.large.basic.button.select_term(href='#')
                    //         if image
                    //             img.ui.mini.rounded.inline.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    //         |#{title}
                    // each tags
                    //     .ui.big.basic.label
                    //         i.delete.icon.remove_element
                    //         |#{this}
                    // if suggestions
                    //     .ui.small.inline.header suggestions
                    // each suggestions
                    //     a.ui.large.basic.button.select_term(href='#')
                    //         // if image
                    //         //     img.ui.mini.rounded.inline.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    //         |#{title}
                .four.wide.center.aligned.column
                    // .ui.big.header #{price}pts
                    // div
                    // .spacer
                    if complete 
                        .ui.big.green.button(href="/post/#{post_id/")
                            |order complete, go back
                    else 
                        .ui.green.huge.rounded.button.confirm_order
                            i.checkmark.icon
                            |confirm

