template(name='pictures')
    .ui.stackable.padded.grid
        .row
            .three.wide.column
                .ui.header 
                    i.pictures.icon
                    |#{pictures.count}
                    |pictures
                .ui.icon.large.button.new_pictures
                    i.green.plus.icon
                +pictures_cloud
                i.remove.circular.link.icon.clear_filter(title='clear filters')
            .six.wide.column
                //- with top_pictures
                //-     +pictures_card
                i.link.refresh.icon.refresh_my_time_stats
                .ui.small.compact.icon.button.toggle_complete(title='view complete' class=view_complete_class)
                    i.checkmark.icon
                //- .ui.small.compact.icon.button.toggle_incomplete(title='incomplete') 
                //-     i.circle.outline.icon
            
                .largescroll.ui.segments
                    each pictures 
                        +pictures_card
            .six.wide.column
                if picked_pictures_doc
                    .ui.icon.right.floated.button.unselect_pictures
                        i.remove.icon
                    with picked_pictures_doc
                        +picked_pictures
                else 
                    // .ui.icon.basic.button.new_pictures 
                    //     i.plus.icon
                    //     // |new pictures 
                    i.refresh.link.icon.refresh_pictures_stats
                    with pictures_stats_doc
                        .ui.small.grey.header #{total_pictures} total pictures 
                        .ui.small.grey.header #{week_pictures_count} pictures this week
                        .ui.small.grey.header #{day_pictures_count} pictures today


template(name='picture_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row 
                .eleven.wide.column.scrolling
                    .ui.huge.center.aligned.header
                        |#{title}
                    // .f14
                    //     |#{description}
                    // .spacer
                    div 
                    if charge_for_access
                        if can_access
                            img.ui.centered.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                            |!{description}
                            |!{body}
                            |!{content}
                        else 
                            .ui.center.aligned.basic.segment.purchase.pointer.zoomer
                                i.massive.lock.icon
                                |purchase access for #{price}p
                    else 
                        img.ui.centered.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                        |!{body}
                        if has_youtube
                            +youtube_view key='youtube_id' icon='youtube' label='youtube'
                    div
                    +related_images
                .five.wide.column.scrolling
                    if link
                        a.ui.basic.button(href=link target='_window')
                            i.external.icon
                            |link: #{link}
                    if group_id
                        +group_link_card
                    if tags
                        +i name='tags' cl='ui inline image'
                        each tags 
                            a.ui.large.basic.link.label.flat_tag #{this}
                    if location_tags
                        +i name='marker' cl='ui inline image'
                        each location_tags 
                            .ui.large.basic.label #{this}
                    // .spacer
                    .ui.small.inline.header
                        i.clock.icon
                        | #{when}, 
                        |#{_timestamp_long}
                    div 
                    .spacer
                    .spacer
                    +voting_full
                    +viewing
                    +comments
                    if in_dev
                        +print_this
                        +remove_button
                    if is_author
                        a.ui.circular.basic.icon.button(href="/image/#{_id}/edit")
                            i.large.pencil.icon
                    if in_dev
                        a(href="/image/#{_id}/edit")
                            i.large.circular.pencil.blue.icon
                    //- +array_view key='location_tags' label='location_tags' direct=true
                    if charge_for_access
                        .ui.header 
                            i.coins.icon
                            |access: #{price}
                            // .ui.small.header price: #{price}
                        .ui.fluid.green.big.button.purchase
                            |purchase for #{price}p
                        .ui.header 
                            |orders
                        .ui.large.selection.link.list
                            each orders
                                a.item(href="/order/#{_id}}")
                                    |#{_author_username}
                                    small #{when}
                    +image_tips
                    a.fly_right(href="/user/#{_author.username}") 
                        img.ui.centered.pointer.zoomer.image(src="{{c.url _author.image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        .ui.large.center.aligned.header.pointer.zoomer
                            |#{_author.name}
                    if watson 
                        +watson_view
            

                    
                    
                    
template(name='picture_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    .ui.large.fluid.basic.button.cancel_transfer
                        i.large.remove.red.icon
                        |delete
                    .ui.segment
                        .ui.inline.header
                            .ui.header author
                            img.ui.small.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.username}
                    +date_edit key='date' label='date' direct=true   
                    +time_edit key='time' label='time' direct=true   
                    +array_edit key='tags' label='tags' icon='tag' direct=true
                    .ui.hidden.divider
                    +boolean_edit key='has_location' label='has location' direct=true
                    if has_location
                        +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +link_edit key='link' label='link' direct=true
                .eight.wide.column
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    +boolean_edit key='has_body' label='has description' icon='content' direct=true
                    if has_body
                        +html_edit key='body' label='body' direct=true
                    div
                    .ui.inline.header
                        +i name='lock'
                        |privacy
                    +key_value_edit key='privacy' value='public' icon='eye' label='public'
                    +key_value_edit key='privacy' value='private' icon='lock' label='private'
                    +key_value_edit key='privacy' value='anon' icon='anonymous-mask' label='anonymous'
                    div
                    if in_dev
                        +print_this
                    
                .four.wide.center.aligned.column
                    // .ui.big.header #{price}pts
                    +boolean_edit key='charge_for_access' label='charge for access' icon='coins' direct=true
                    if charge_for_access
                        .ui.big.input
                            input.point_price(type='number' value=price min='1' max=point_max)
                        // div
                        // .spacer
                        .ui.header 
                            i.coins.icon
                            |access price
                        +key_value_edit key='price' value=0
                        +key_value_edit key='price' value=1
                        +key_value_edit key='price' value=5
                        +key_value_edit key='price' value=10
                        +key_value_edit key='price' value=20
                        +key_value_edit key='price' value=50
                    .ui.hidden.divider
                    .ui.green.huge.rounded.button.submit
                        i.checkmark.icon
                        |save

                    