template(name='posts')
    .ui.stackable.padded.grid
        .four.wide.column.scrolling
            .ui.header 
                +i name='blog'
                |posts
            .ui.icon.button.add_post
                i.plus.large.icon
            // unless tag_results.count
            //     i.loading.yin.yang.big.grey.icon
            // else
            +i name='tags' cl='ui inline image'
            each picked_tags
                +unpick_tag
                // .ui.blue.button.unpick_tag.zoomer
                //     |#{this}
            each tag_results
                +tag_picker
                // a.ui.basic.link.large.label.pick_tag #{title}
                //     // small #{count}
            div
            +i name='marker' cl='ui inline image'
            each picked_location_tags
                a.ui.red.button.unpick_location_tag
                    |#{this}
            each location_tag_results
                a.ui.basic.link.large.label.zoomer.pick_location_tag #{title}
                    // small #{count}
            div
            +i name='send' cl='ui inline image'
            each picked_authors
                a.ui.teal.button.unpick_author_tag
                    |#{this}
            each author_results
                a.ui.basic.link.large.label.zoomer.pick_author_tag #{title}
                    // small #{count}
            div
            +i name='donate' cl='ui inline image'
            each picked_targets
                a.ui.teal.button.unpick_target_tag
                    |#{this}
            each target_results
                a.ui.basic.link.large.label.zoomer.pick_target_tag #{title}
                    // small #{count}
        .twelve.wide.column
            |bought filter
            +session_set key='view_bought_posts' value='all'               
            +session_set key='view_bought_posts' value='no'               
            +session_set key='view_bought_posts' value='yes'               
            // +session_set key='posts_sort_filter' value='open'               
            // +session_set key='posts_filter' value='now' icon='clock'            
            // +session_set key='posts_filter' value='day' icon='sun'
            // +session_set key='posts_filter' value=null label='all'
            // i.sort.grey.icon
            // +session_set key='posts_sort_key' value='price'               
            .ui.three.stackable.centered.cards.scrolling
                // if posts_docs.count
                each post_docs
                    +post_item
                // else 
                //     .ui.basic.segment
                //         i.massive.yin.yang.grey.loading.icon
            
            
            
template(name='post_item')
    a.ui.link.card.fly_right(href="/post/#{_id}")
        if image_id
            if can_access
                img.ui.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
            else 
                i.massive.lock.icon
            // a.header(href="/posts/#{_id}") #{title}
        .content
            .ui.header
                |#{title}
            .ui.inline.header
                if _author.image_id
                    img.ui.avatar.image(src="{{c.url _author.image_id height=400 width=400 gravity='face' crop='fill'}}")
                | #{_author_username}
                if price    
                    .ui.big.basic.circular.label #{price}p
                else 
                    .ui.basic.green.label free
                // .ui.big.basic.image.label
            // .content
            if can_access
                |!{body}
                |!{description}
            else 
                i.massive.lock.icon
            // i.tag.large.grey.icon
            each tags
                .ui.basic.large.label #{this}
            if location_tags
                i.large.marker.icon
                each location_tags
                    .ui.basic.large.label #{this}
            small #{when}
                // if in_dev 
                //     +print_this
        .ui.attached.basic.buttons
            .ui.icon.button
                |#{comment_count}
                i.chat.outline.icon
            .ui.icon.button
                |#{views}
                i.eye.icon
            .ui.icon.button
                |#{upvotes}
                i.thumbs.up.outline.icon
            .ui.icon.button
                |#{downvotes}
                i.thumbs.down.outline.icon
            .ui.icon.button.tip
                +i name='donate' cl='ui avatar image'
                    