template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row 
                .ten.wide.column
                    .ui.huge.center.aligned.header
                        |#{title}
                    // .f14
                    //     |#{description}
                    // .spacer
                    div 
                    if can_access
                        img.ui.centered.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                        |!{description}
                        |!{body}
                        |!{content}
                    else 
                        .ui.center.aligned.basic.segment.purchase.pointer.zoomer
                            i.massive.lock.icon
                            |purchase access for #{price}p
                    div
                .six.wide.column
                    if tags
                        +i name='tags' cl='ui inline image'
                        each tags 
                            a.ui.large.basic.link.label.flat_tag #{this}
                    if location_tags
                        +i name='marker' cl='ui inline image'
                        each location_tags 
                            .ui.large.basic.label #{this}
                    // .spacer
                    .ui.small.inline.header
                        i.clock.icon
                        | #{when}, 
                        |#{_timestamp_long}
                    div 
                    .spacer
                    .spacer
                    +voting_full
                    +viewing
                    +comments
                    if in_dev
                        +print_this
                        +remove_button
                    if is_author
                        a.ui.circular.basic.icon.button(href="/post/#{_id}/edit")
                            i.large.pencil.icon
                    if in_dev
                        a(href="/post/#{_id}/edit")
                            i.large.circular.pencil.blue.icon
                    //- +array_view key='location_tags' label='location_tags' direct=true
                    .ui.header 
                        i.coins.icon
                        |access: #{price}
                        // .ui.small.header price: #{price}
                    .ui.fluid.green.big.button.purchase
                        |purchase for #{price}p
                    .ui.header 
                        |orders
                    .ui.large.selection.link.list
                        each orders
                            a.item(href="/order/#{_id}}")
                                |#{_author_username}
                                small #{when}
                    +post_tips
                    a.fly_right(href="/user/#{_author.username}") 
                        img.ui.centered.pointer.zoomer.image(src="{{c.url _author.image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        .ui.large.center.aligned.header.pointer.zoomer
                            |#{_author.name}
                    
template(name='post_tips')
    .ui.header 
        +i name='donate'
        |tips
    .ui.large.selection.link.list
        each post_tips
            a.item(href="/tip/#{_id}") #{amount} #{when}
        
