template(name='user_layout')
    +nav
    with user_from_username_param
        .ui.stackable.padded.grid.pusher
            .row
                //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .three.wide.column
                    a.item.zoomer(href="/user/#{username}")
                        img.ui.centered.rounded.small.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                    // .spacer
                    a.ui.header(href="/user/#{username}")
                        | #{username}
                    .ui.big.basic.label.zoomer
                        strong
                            |#{current_user.points}
                        small
                            |current pts
                            span(title='rank') (##{current_user.point_rank})
                    .ui.big.basic.label
                        strong
                            |#{current_user.total_received}
                        small
                            |pts received
                            // span(title='rank') (##{current_user.total_earned_credit_rank})
                    .ui.big.basic.label
                        strong
                            |#{current_user.total_sent}
                        small
                            |pts sent
                            // span(title='rank') (##{current_user.total_bought_credit_rank})
                    div
                    // i.refresh.circular.link.icon.refresh_user_stats
                    if is_current_user
                        a.ui.basic.circular.icon.big.button.fly_up(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            i.cog.large.icon
                    if is_current_user
                        .ui.basic.icon.big.button.logout.fly_down(title='log out')
                            i.sign.out.alternate.large.icon
                    .ui.hidden.divider
                            
                .thirteen.wide.column
                    // .spacer
                    +yield

        // if in_role 'admin'
        //     +admin_footer


template(name='user_dashboard')
    with current_user       
        .ui.statistic
            .label
                |received rank
            .value 
                |#{received_rank}
        .ui.statistic
            .label
                |sent rank
            .value 
                |#{sent_rank}
        .ui.statistic
            .label
                |profile views
            .value 
                |#{profile_views}
        .ui.stackable.two.column.grid
            // if is_current_user
            
            .column.scrolling
                +user_received
            .column.scrollin
                +user_sent
                
                
                
template(name='user_received')
    .ui.header 
        +i name='internal'
        |#{received_transfers.count} received 
        small (#{current_user.total_received}pts total)
    each received_tags
        .ui.basic.large.circular.label #{title}
            small #{count}
    .ui.two.stackable.cards
        each received_transfers
            .ui.card
                if image_id
                    +image_view key='image_id' label='image' direct=true
            
                .content
                    a.header(href="/transfer/#{_id}") #{title}
                    a.header(href="/transfer/#{_id}")
                        strong #{amount}pt
                        | to 
                        if target.image_id
                            img.ui.avatar.image(src="{{c.url target.image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{target.username}
                    small #{when}
                    |#{description}
                    each tags
                        .ui.basic.label #{this}
                    if in_dev
                        +print_this
        
        
        
template(name='user_sent')  
    .ui.header 
        // i.send.icon
        +i name='sent'
        |#{sent_items.count}
        |sent
        small (#{current_user.total_sent}pts total)
    // .ui.basic.label #{total_sent_amount}p total sent
    // .ui.basic.label(title='sent count') #{sent_count} gifts sent
    // .ui.basic.label(title='rank') ##{global_sent_count_rank} gift sent rank
        
    i.tags.icon(title='credit tags')
    each sent_tags
        .ui.basic.large.circular.label #{title}
            small #{count}
        
    .scrolling.ui.two.stackable.cards
        each sent_items
            .ui.card
                if image_id
                    +image_view key='image_id' label='image' direct=true
                .content
                    a.header(href="/transfer/#{_id}") #{title}
                    a.header(href="/transfer/#{_id}")
                        strong #{amount}pt
                        | to 
                        if target.image_id
                            img.ui.avatar.image(src="{{c.url target.image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{target_username}
                    small #{when}
                    |#{description}
                    each tags
                        .ui.basic.label #{this}
                    if in_dev 
                        +print_this
                                