template(name='user_layout')
    +nav
    with user_from_username_param
        .ui.stackable.padded.grid.pusher
            .row
                //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .three.wide.column
                    a.item.zoomer(href="/user/#{username}")
                        img.ui.centered.rounded.small.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                    // .spacer
                    a.ui.massive.center.aligned.header(href="/user/#{username}")
                        h1 #{username}
                    div
                    // i.refresh.link.icon.refresh_user_stats
                    if premium_access
                        .ui.header
                            i.shield.icon
                            |premium access account for 
                            |#{premium_access_price}pts
                    unless subscribed
                        .ui.large.fluid.basic.button.subscribe
                            |subscribe
                    if subscribed
                        .ui.animated.fluid.large.green.button.unsubscribe
                            .visible.content
                                i.checkmark.icon
                                |subscribed
                            .hidden.content
                                i.undo.icon
                                |unsubscribe
                    .ui.hidden.divider
                    if is_current_user
                        a.ui.basic.icon.big.button.fly_up(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                            i.cog.large.icon
                    if is_current_user
                        .ui.basic.icon.big.button.logout.fly_down(title='log out')
                            i.sign.out.alternate.large.icon
                    // .ui.hidden.divider
                    .ui.large.basic.label
                        strong
                            |#{current_user.points}
                        small
                            |current pts
                            span(title='rank') (##{current_user.point_rank})
                    .ui.large.basic.label
                        strong
                            |#{current_user.total_received}
                        small
                            |received
                            // span(title='rank') (##{current_user.total_earned_credit_rank})
                    .ui.large.basic.label
                        strong
                            |#{current_user.total_sent}
                        small
                            |sent
                            // span(title='rank') (##{current_user.total_bought_credit_rank})
                    .ui.large.basic.label
                        strong
                            |#{current_user.total_sent_hour}
                        small
                            |sent last hour
                            // span(title='rank') (##{current_user.total_bought_credit_rank})
                    .ui.large.basic.label
                        strong
                            |#{current_user.total_sent_day}
                        small
                            |sent last day
                    .ui.large.basic.label
                        strong
                            |#{current_user.total_received_day}
                        small
                            |received last day
                            // span(title='rank') (##{current_user.total_bought_credit_rank})
                    .ui.large.basic.label
                        strong 
                            |#{received_rank}
                        small
                            |received rank
                    .ui.large.basic.label
                        strong 
                            |#{sent_rank}
                        small
                            |sent rank
                    .ui.large.basic.label
                        strong 
                            |#{profile_views}
                        small
                            |profile views
                .thirteen.wide.column
                    .ui.stackable.menu.hscroll
                        a.item(href="/user/#{current_user.username}/")
                            i.large.dashboard.icon
                            |dashboard
                        a.item(href="/user/#{current_user.username}/sent")
                            i.send.large.icon
                            |sent 
                        a.item(href="/user/#{current_user.username}/received")
                            i.chevron.down.icon
                            |received 
                        a.item(href="/user/#{current_user.username}/topups")
                            +i name='donate' cl='ui avatar image'
                            |topups 
                        a.item(href="/user/#{current_user.username}/subscriptions")
                            +i name='refresh' cl='ui avatar image'
                            |subscriptions 
                        a.item(href="/user/#{current_user.username}/posts")
                            +i name='blog' cl='ui avatar image'
                            |posts 
                        a.item(href="/user/#{current_user.username}/orders")
                            +i name='order-history' cl='ui avatar image'
                            |orders 
                    // .spacer
                    +yield

        // if in_role 'admin'
        //     +admin_footer


template(name='user_dashboard')
    with current_user    
        .ui.stackable.one.column.grid
            // if is_current_user
            .ui.segment 
                .ui.header 
                    i.groups.icon
                    |friends
                .ui.large.list
                    each user_friends
                        a.item(href="/u/#{username}")
            .ui.segment
                .ui.header 
                    i.send.icon
                    |sent
            .ui.header 
                i.mail.icon
                |mail
            .ui.link.list
                each messages
                    a.item(href="/message/#{_id}/") #{body}
            .ui.header 
                i.blog.icon
                |posts
            .ui.link.list
                a.item(href="/post/#{_id}") #{title}
            .column.scrollin
                +user_topups
            .column.scrollin
                +user_received
            .column.scrollin
                +user_sent
                
       
template(name='user_topups')
    .ui.inline.header 
        +i name='donate'
        |topups
    .ui.button.topup
        |topup
    each topups
        .ui.header #{amount}
       
template(name='user_subscriptions')
    .ui.inline.header 
        +i name='refresh'
        |subscriptions
    .ui.header 
        |subscribed to
    each subscribed_to
        .ui.header #{username}
    .ui.header 
        |subscribed by
    each subscribed_by
        .ui.header #{username}
       
                
template(name='user_orders')
    .ui.header 
        +i name='order-history'
        |orders
    .ui.large.list 
        each order_docs
            .item #{when} #{_author_username}
       
                
                
template(name='user_received')
    .ui.inline.header 
        +i name='internal'
        |#{received_transfers.count} received 
        small (#{current_user.total_received}p total)
    each received_tags
        +profile_picker
        // a.ui.basic.big.label.flat_tag.zoomer #{title}
            // small #{count}
    .ui.hidden.divider
    .ui.four.link.doubling.cards
        each received_transfers
            a.ui.card(href="/transfer/#{_id}")
                if image_id
                    // +image_view key='image_id' label='image' direct=true
                    img.ui.image(src="{{c.url image_id }}")
                .content
                    .ui.inline.header
                        if _author.image_id
                            img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_author_username}
                        strong #{amount}pt
                    each tags
                        .ui.basic.large.label #{this}
                    small #{when}
                    // |!{description}
                    // if in_dev
                    //     +print_this
        
        
        
template(name='profile_picker')
    a.ui.large.link.image.basic.label.pick_tag.zoomer(title=count)
        with ref_doc
            // if image_url
            //     +image_link_view key='image_url' direct=true
            if image_id
                +image_view key='image_id' direct=true
        // else
        |#{title} 
        // 

        
        
template(name='user_sent')  
    .ui.inline.header 
        // i.send.icon
        +i name='sent'
        |#{sent_items.count}
        |sent
        small (#{current_user.total_sent}p total)
    // .ui.basic.label #{total_sent_amount}p total sent
    // .ui.basic.label(title='sent count') #{sent_count} gifts sent
    // .ui.basic.label(title='rank') ##{global_sent_count_rank} gift sent rank
        
    i.tags.icon(title='credit tags')
    each sent_tags
        +profile_picker
        // .ui.basic.big.label #{title}
            // small #{count}
        
    .scrolling.ui.four.doubling.cards
        each sent_items
            a.ui.card(href="/transfer/#{_id}") #{title}
                if image_id
                    +image_view key='image_id' label='image' direct=true
                .content
                    a.ui.inline.header(href="/transfer/#{_id}")
                        strong #{amount}pt
                        | to 
                        if target.image_id
                            img.ui.avatar.image(src="{{c.url target.image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{target_username}
                    small #{when}
                    // |!{description}
                    each tags
                        .ui.basic.label #{this}
                    // if in_dev 
                    //     +print_this
                                