template(name='questions')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    i.questions.icon
                    |#{questions.count}
                    |questions
                .ui.icon.large.button.new_question
                    i.green.plus.icon
                // i.remove.circular.link.icon.clear_filter(title='clear filters')
            .twelve.wide.column
                .ui.centered.cards
                    each questions 
                        +question_card_template
                    

template(name='question_card_template')
    a.card.select_question(href="/question/#{_id}")
        // .ui.header.goto_question #{title}
        .content
            .ui.header #{title}
            |!{description}
            each question_choice_docs
                .ui.big.label(class=color)
                    |#{title}
            div
            .ui.horizontal.list 
                .item(title='views')
                    i.eye.icon 
                    |#{views}
                .item
                    i.grey.tags.icon 
                    each five_tags
                        .ui.small.label #{this}
            // +array_view key='tags' direct=true
            // div
            // .ui.icon.large.button.edit_question(title='edit question') 


template(name='question_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .six.wide.column
                    a.ui.big.basic.button.fly_left(href="/questions")
                        i.chevron.left.icon
                        +i name='questions' cl='ui avatar image'
                        |questions
                    .ui.header #{title}
                    if can_edit 
                        a.ui.icon.button(href="/question/#{_id}/edit" title='edit') 
                            i.pencil.grey.icon
                    //- +multi_user_edit key='subscriber_ids' label='subscriptions' direct=true
                    div
                    div
                    +author_info
                    +creation_info
                    div
                    | !{description}
                    // +viewing
                    div
                    // +voting_full
                    .ui.big.fluid.blue.button.new_answer
                        |answer
                        i.right.chevron.large.icon
                    .ui.header answers 
                    .ui.large.list
                        each answer_docs
                            .item
                                .ui.header #{answer_choice_title} #{answer_username}
                                | #{_author_username} #{when}
                    +comments
                .ten.wide.column
                    .ui.header choices
                    .ui.cards
                        each choice_docs
                            .card(class=color)
                                if image_id
                                    img.ui.inline.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                            
                                .content
                                    .ui.header #{title}



template(name='question_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .six.wide.column
                    a.ui.icon.fluid.big.green.button(href="/question/#{_id}") 
                        i.checkmark.large.icon
                    +text_edit key='title' label='title' direct=true
                    +html_edit key='description' label='description' direct=true
                    +array_edit key='tags' label='tags' direct=true
                    +remove_button
                .ten.wide.column
                    div 
                    .ui.inline.header 
                        |possible answers
                    i.plus.link.circular.large.icon.add_choice
                    each choice_docs
                        .ui.segment(class=color)
                            // if image_id
                            //     img.ui.inline.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                            +text_edit key='title' direct=true
                            +text_edit key='color' direct=true
                            +image_edit key='image_id' direct=true
                            +remove_button
                            
                            
                            
                            
template(name='answer_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.icon.fluid.big.red.button.cancel_answer
                        i.remove.icon
                        
                .twelve.wide.column
                    .ui.header 
                        |#{question_title}
                    if answer_user_id 
                        .ui.big.fluid.icon.green.button.complete_answer
                            i.big.checkmark.icon
                    if answer_choice_id
                        .ui.header pick user
                        each users 
                            .ui.big.button.choose_user
                                |#{username}
                    .ui.header pick choice
                    .ui.centered.cards
                        each answer_choice_docs
                            a.ui.card.choose_answer(class=color)
                                if image_id
                                    img.ui.inline.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                                .content
                                    .header
                                        |#{title}