template(name='transfers')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .four.wide.column
                    .ui.header 
                        +i name='blog'
                        |transfers
                    |view
                    // +session_set key='transfer_sort_filter' value='open'               
                    +session_set key='transfer_sort_filter' value='now'               
                    +session_set key='transfer_sort_filter' value='later'   
                    +session_set key='transfer_sort_filter' value=null label='all'
                    |delivery
                    +session_set key='transfer_delivery_filter' value='pickup'   
                    +session_set key='transfer_delivery_filter' value='delivery'   
                    +session_set key='transfer_delivery_filter' value=null label='all'   
                    +session_set key='transfer_status_filter' value='cart' label='cart' icon='cart'   
                    +session_set key='transfer_status_filter' value=null label='all status' icon='cart'   
                    div
                    |sort by
                    +session_set key='transfer_sort_key' value='price'               
                .twelve.wide.column
                    a.ui.center.aligned.header(href="/transfers")
                        +i name='clock' cl='ui tiny inline image'
                        | transfers
                    .ui.button today
                    .ui.button now
                    .ui.button later
                    .ui.button sort transfer
                    .ui.button sort by
                    .scrolling
                        each transfer_docs
                            +transfer_item
                            .ui.divider
            
            
template(name='transfer_item')
    a.ui.item(href="/transfer/#{_id}")
        .content
            .ui.header #{title}
            a.ui.icon.big.button(href="/transfer/#{_id}")
                i.right.chevron.large.icon
            if in_dev 
                +print_this
            |#{when}, #{_author_username} 

                    

template(name='user_transfers')
    .ui.inline.header #{transfers.count} 
        +i name='invoice'
        |transfers
    .ui.button
        |view complete
    |sort by
    .ui.button
        |price
    .ui.button
        |time
    .ui.button 
        |delivery
    .scrolling
        each transfers
            +user_transfer_item

template(name='user_transfer_item')
    .ui.segment
        // each transfer_items
        img.ui.avatar.image(src="{{c.url product_doc.image_id width=200 height=200 gravity='face' crop='fill'}}")
        a.ui.inline.header(href="/transfer/#{_id}")
            | #{product_doc.title}
            // |#{subtitle}c
        .ui.inline.header
            |status: 
            if is status 'pending'
                i.large.yellow.clock.icon
            else if is status 'ready'
                i.large.green.clock.icon
            else if is status 'complete'
                i.large.green.checkmark.icon
            |#{status}
            if product_doc.has_calories
                .ui.label 
                    |#{product_doc.calories}cals
            // .ui.inline.header product_id: #{product_id}
            
        a.ui.icon.big.button(href="/transfer/#{_id}")
            i.right.chevron.large.icon
        |#{status}
        i.clock.icon
        |#{when}
        if is_admin 
            +print_this
            +remove_button

template(name='transfer_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row 
                .five.wide.column
                    a(href="/user/#{_author.username}") 
                        img.ui.circular.centered.pointer.zoom.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        .ui.large.center.aligned.header.pointer.zoom
                            |#{_author.name}
                .five.wide.column
                    .ui.huge.center.aligned.header
                        |#{amount}pts
                    if in_dev
                        +remove_button
                    .f14
                        |#{description}
                    .spacer
                    +image_view key='image_id' label='image' direct=true
                    div 
                    if tags
                        i.tags.icon
                        each tags 
                            .ui.big.basic.circular.label #{this}
                    +voting_full
                    .ui.small.header
                        i.clock.icon
                        | #{when}
                    .spacer
                    .spacer
                    +comments
                    if in_dev
                        +print_this
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .five.wide.column
                    a(href="/user/#{recipient.username}")
                        img.ui.circular.centered.fluid.pointer.zoom.image(src="{{c.url recipient.profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        .ui.large.center.aligned.header.pointer.zoom
                            |#{recipient.name}



template(name='transfer_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    .ui.large.fluid.basic.circular.button.cancel_transfer
                        i.large.remove.red.icon
                        |cancel
                    .ui.segment
                        .ui.inline.grey.header sender
                        .ui.inline.header
                            img.ui.small.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.name}
                    .ui.segment
                        .ui.header recipient
                        with recipient
                            i.large.remove.link.icon.remove_recipient
                            a.pointer(href="/user/#{name}")
                                img.ui.tiny.inline.image(src="{{c.url profile_image_id height=400 width=400 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                                .ui.inline.header #{name}
                                .ui.small.grey.inline.header #{points}
                        unless recipient
                            .ui.divider
                            // i.large.user.plus.icon
                            +single_user_edit key='recipient_id' label='search member' icon='user plus' direct=true
                            // .ui.icon.input
                            //     i.search.icon
                            //     input.search_username(type='text' placeholder='username')
                            // each members
                            //     .ui.compact.basic.circular.button.add_recipient
                            //         // i.plus.icon
                            //         img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            //         |#{name}
                            //         small #{points}p
                    +date_edit key='date' label='date' direct=true   
                    +time_edit key='time' label='time' direct=true   
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                .six.wide.column
                    +textarea_edit key='description' label='description' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    div
                    .ui.inline.header
                        i.tag.red.icon
                        |tags
                    .ui.input
                        input.new_tag(type='text' placeholder='+' autocomplete="off")
                        //- +clear_value                
                    each terms 
                        a.ui.large.circular.basic.button.select_term(href='#')
                            if image
                                img.ui.mini.rounded.inline.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{title}
                    each tags
                        .ui.big.basic.circular.label
                            i.delete.icon.remove_element
                            |#{this}
                    if suggestions
                        .ui.small.inline.header suggestions
                    each suggestions
                        a.ui.large.circular.basic.button.select_term(href='#')
                            // if image
                            //     img.ui.mini.rounded.inline.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{title}
                .five.wide.center.aligned.column
                    .ui.big.header #{amount}pts
                    .ui.big.input
                        input.point_amount(type='number' value=amount min='1' max=point_max)
                    div
                    +key_value_edit key='amount' value=1
                    +key_value_edit key='amount' value=6
                    +key_value_edit key='amount' value=12
                    +key_value_edit key='amount' value=22
                    +key_value_edit key='amount' value=55
                    .spacer
                    .ui.center.aligned.basic.segment
                        if can_submit
                            .ui.green.huge.circular.button.submit
                                i.big.send.icon
                                |send
                        else 
                            .ui.green.huge.circular.disabled.button
                                i.send.big.icon
                                |send
