template(name='view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row 
                .four.wide.center.aligned.column
                    a.fly_right(href="/user/#{_author.username}") 
                        img.ui.circular.centered.pointer.zoomer.image(src="{{c.url _author.image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        .ui.large.center.aligned.header.pointer.zoomer
                            |#{_author.name}
                .eight.wide.center.aligned.column
                    .ui.huge.center.aligned.header
                        |#{amount}pts
                    .f14
                        |#{description}
                    .spacer
                    if tags
                        i.large.tag.grey.icon
                        each tags 
                            .ui.big.basic.circular.label #{this}
                    if location_tags
                        i.large.marker.grey.icon
                        each location_tags 
                            .ui.big.basic.circular.label #{this}
                    .spacer
                    .ui.small.header
                        i.clock.icon
                        | #{when}, 
                        |#{_timestamp_long}
                    +image_view key='image_id' label='image' direct=true
                    div 
                    .spacer
                    .spacer
                    +voting_full
                    +comments
                    if in_dev
                        +print_this
                        // +remove_button
                    if is_author
                        a(href="/transfer/#{_id}/edit")
                            i.large.circular.pencil.icon
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.center.aligned.column
                    a.fly_right(href="/user/#{target.username}")
                        img.ui.circular.centered.fluid.pointer.zoomer.image(src="{{c.url target.image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        .ui.large.center.aligned.header.pointer.zoomer
                            |#{target.name}



