template(name='chats')
    .ui.padded.stackable.grid
        .twelve.wide.column
            i.chat.outline.big.icon(title='backcountry chat')
            .ui.large.icon.input(title='messages cost one point but can receive points from votes')
                i.plus.icon
                input.new_message(type='text' placeholder='add message (-1p)')
            .ui.comments
                each chat_docs
                    +chat_message
        .four.wide.column
            .ui.small.header 
                i.line.chart.icon
                |stats  
            .ui.list 
                .item #{chat_docs.count} messages


template(name='chat_message')
    // if session_is 'editing_chat' _id
    //     .ui.item
    //         +image_edit key='image_id' direct=true
    //         .content
    //             +text_edit key='title' direct=true
    //             i.checkmark.circular.link.green.icon.save_chat   
    //             +boolean_edit key='archived' label='archived' icon='archive' direct=true
    // else
    .comment
        // if unless
        // else
        //     img.ui.image(src="{{c.url image_id width=500 height=500 gravity='face' crop='fill'}}")
        .content
            .ui.header #{body}
            .meta
                if _author_username
                    a(href="/user/#{_author_username}")
                        | by 
                        |#{_author_username}
                    span
                        |#{when}
                        small {{long_date _timestamp}}
                else 
                    // i.anon.grey.icon
                    |by anonymous
                +voting_small
                if in_dev
                    +print_this
                    +alert_this
            // if is_admin
            //     i.pencil.circular.link.icon.edit_chat            
            // if can_edit
                // a.zoomer(href="/chat/#{_id}/edit")
                //     i.pencil.circular.link.icon
