template(name='user_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        with user_from_username_param
            .ui.stackable.padded.grid.pusher
                .row
                    //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                    .four.wide.column
                        a.item.zoomer(href="/user/#{username}")
                            img.ui.centered.rounded.small.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                        // .spacer
                        a.ui.header(href="/user/#{username}")
                            | #{username}
                        a.ui.small.header.zoomer(href="/users")
                            strong
                                |#{current_user.points}
                            small
                                |current pts
                                span(title='rank') (##{current_user.point_rank})
                        .ui.small.header
                            strong
                                |#{current_user.total_received_points}
                            small
                                |pts received
                                // span(title='rank') (##{current_user.total_earned_credit_rank})
                        .ui.small.header
                            strong
                                |#{current_user.total_sent_points}
                            small
                                |pts sent
                                // span(title='rank') (##{current_user.total_bought_credit_rank})
                        if untappd_username
                            a.ui.small.header(href="https://untappd.com/user/#{untappd_username}" target="_window")
                                |untappd profile: #{untappd.username}
                        .ui.large.label app: #{app}
                        div
                        .ui.inline.header 
                            +i name='shield' cl='ui avatar image'
                            |roles:
                        each roles
                            .ui.basic.label #{this}
                        div
                        if is_current_user
                            a.ui.basic.circular.icon.button.fly_up(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                                // i.cog.large.icon
                                +i name='settings'
                        if is_current_user
                            .ui.basic.icon.button.logout.fly_down(title='log out')
                                // i.sign.out.alternate.large.icon
                                +i name='exit'
                        // .twelve.wide.column
                        // a.ui.basic.button(href="/user/#{username}" class="{{isActiveRoute 'user_dashboard'}}")
                        //     i.dashboard.icon
                        //     |dashboard
                    .twelve.wide.column
                        // a.ui.basic.button(href="/user/#{username}/payroll" class="{{isActiveRoute 'user_payroll'}}")
                        //     i.money.icon
                        //     |payroll
                        div.global_container
                            .spacer
                            +yield

        if in_role 'admin'
            +admin_footer


template(name='user_dashboard')
    .ui.big.button.send_points
        |send points
    with current_user       
        .ui.stackable.two.column.grid
            // if is_current_user
            
            .column.smallscroll
                +user_received
            //     +user_topups
            // .column.smallscroll
            //     +user_work
            .column.smallscroll
                +user_sent
                // +user_orders

template(name='user_received')
    .ui.header 
        |points received
