template(name='user_sent')  
    .ui.inline.header 
        i.send.icon
        |sent
    .ui.basic.label #{total_sent_amount}p total sent
    .ui.basic.label(title='sent count') #{sent_count} gifts sent
    .ui.basic.label(title='rank') ##{global_sent_count_rank} gift sent rank
        
    i.tags.icon(title='credit tags')
    each sent_tags
        .ui.basic.circular.label #{title}
            small #{count}
        
    .ui.stackable.cards.scrolling
        each sent_items
            .ui.card
                .content
                    a.header(href="/transfer/#{_id}")
                        strong #{amount}pt
                        | to 
                        if target.image_id
                            img.ui.avatar.image(src="{{c.url target.image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{target.shortname}
                    small #{when}
                    div
                    |#{description}
                    div
                    each tags
                        .ui.mini.basic.label #{this}
                        